@include checkcolumn-ui(
    $color: $checkcolumn-color,
    $background-color: $checkcolumn-background-color,
    $hovered-background-color: $checkcolumn-hovered-background-color,
    $sorted-background-color: $checkcolumn-sorted-background-color,
    $border-width: $checkcolumn-border-width,
    $border-style: $checkcolumn-border-style,
    $border-color: $checkcolumn-border-color,
    $font-weight: $checkcolumn-font-weight,
    $font-size: $checkcolumn-font-size,
    $font-size-big: $checkcolumn-font-size-big,
    $line-height: $checkcolumn-line-height,
    $line-height-big: $checkcolumn-line-height-big,
    $font-family: $checkcolumn-font-family,
    $padding: $checkcolumn-padding,
    $padding-big: $checkcolumn-padding-big,
    $sort-icon-margin: $checkcolumn-sort-icon-margin,
    $sort-icon-margin-big: $checkcolumn-sort-icon-margin-big,
    $sort-icon-size: $checkcolumn-sort-icon-size,
    $sort-icon-size-big: $checkcolumn-sort-icon-size-big,
    $sort-icon-font-size: $checkcolumn-sort-icon-font-size,
    $sort-icon-font-size-big: $checkcolumn-sort-icon-font-size-big,
    $sort-icon-color: $checkcolumn-sort-icon-color,
    $sort-asc-icon: $checkcolumn-sort-asc-icon,
    $sort-desc-icon: $checkcolumn-sort-desc-icon,
    $trigger-width: $checkcolumn-trigger-width,
    $trigger-width-big: $checkcolumn-trigger-width-big,
    $trigger-background-color: $checkcolumn-trigger-background-color,
    $trigger-border-width: $checkcolumn-trigger-border-width,
    $trigger-border-style: $checkcolumn-trigger-border-style,
    $trigger-border-color: $checkcolumn-trigger-border-color,
    $trigger-icon: $checkcolumn-trigger-icon,
    $trigger-icon-color: $checkcolumn-trigger-icon-color,
    $trigger-icon-font-size: $checkcolumn-trigger-icon-font-size,
    $trigger-icon-font-size-big: $checkcolumn-trigger-icon-font-size-big,
    $resizer-width: $checkcolumn-resizer-width,
    $resizer-background-color: $checkcolumn-resizer-background-color,
    $checkbox-size: $checkcolumn-checkbox-size,
    $checkbox-size-big: $checkcolumn-checkbox-size-big,
    $checkbox-font-size: $checkcolumn-checkbox-font-size,
    $checkbox-font-size-big: $checkcolumn-checkbox-font-size-big,
    $checkbox-icon: $checkcolumn-checkbox-icon,
    $checked-checkbox-icon: $checkcolumn-checked-checkbox-icon,
    $checkbox-color: $checkcolumn-checkbox-color,
    $checked-checkbox-color: $checkcolumn-checked-checkbox-color,
    $disabled-checkbox-opacity: $checkcolumn-disabled-checkbox-opacity,
    $disabled-checkbox-color: $checkcolumn-disabled-checkbox-color,
    $focused-checkbox-color: $checkcolumn-focused-checkbox-color,
    $checkbox-vertical-spacing: $checkcolumn-checkbox-vertical-spacing,
    $checkbox-vertical-spacing-big: $checkcolumn-checkbox-vertical-spacing-big,
    $checkbox-horizontal-spacing: $checkcolumn-checkbox-horizontal-spacing,
    $checkbox-horizontal-spacing-big: $checkcolumn-checkbox-horizontal-spacing-big
);
