.#{$prefix}tab {
    .#{$prefix}active-indicator-el {
        position: absolute;
        display: none;
        pointer-events: none;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
    }

    &.#{$prefix}active .#{$prefix}active-indicator-el {
        display: block;
    }

    .#{$prefix}close-icon-el {
        cursor: pointer;
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        z-index: 4; // must have higher z-index than button-el
    }

    &.#{$prefix}closable .#{$prefix}close-icon-el {
        display: flex;
    }
}
