@function button-background-gradient($background-color) {
    @return none;
}

@function button-pressed-background-gradient($background-color) {
    @return none;
}

@function button-focused-outline-color($background-color, $color) {
    $dark-color: null;
    $light-color: null;

    @if $background-color != null {
        @if $base-color != null {
            $dark-color: $base-color;
        }

        @if $color != null {
            $light-color: mix($background-color, $color, 20%);
        }

        @return color-by-background(
            $bg-color: $background-color,
            $dark-color: $dark-color,
            $light-color: $light-color
        );
    }

    @return null;
}