/**
 * @class Ext.field.trigger.SpinDown
 */

/**
 * @var {number}
 * Spin Down Trigger width
 */
$spindowntrigger-width: dynamic(null);

/**
 * @var {number}
 * Spin Down Trigger width in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$spindowntrigger-width-big: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger background-color
 */
$spindowntrigger-background-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger background-color when hovered
 */
$spindowntrigger-hovered-background-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger background-color when pressed
 */
$spindowntrigger-pressed-background-color: dynamic(null);

//# fashion replaces $spinnerfield-button-down-icon
/**
 * @var {string}
 * Spin Down Trigger icon
 */
$spindowntrigger-icon: dynamic($fa-var-caret-down);

/**
 * @var {string}
 * Spin Down Trigger icon in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$spindowntrigger-icon-big: dynamic($fa-var-minus);

/**
 * @var {color}
 * Spin Down Trigger icon color
 */
$spindowntrigger-icon-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger icon color when hovered
 */
$spindowntrigger-hovered-icon-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger icon color when pressed
 */
$spindowntrigger-pressed-icon-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger icon background-color
 */
$spindowntrigger-icon-background-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger icon background-color when hovered
 */
$spindowntrigger-hovered-icon-background-color: dynamic(null);

/**
 * @var {color}
 * Spin Down Trigger icon background-color when pressed
 */
$spindowntrigger-pressed-icon-background-color: dynamic(null);

/**
 * @var {number/list}
 * Spin Down Trigger icon border-radius
 */
$spindowntrigger-icon-border-radius: dynamic(null);

/**
 * @var {number}
 * Spin Down Trigger icon size
 */
$spindowntrigger-icon-size: dynamic(11px);

/**
 * @var {number}
 * Spin Down Trigger icon size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$spindowntrigger-icon-size-big: dynamic(null);

/**
 * @var {number}
 * Spin Down Trigger icon font-size
 */
$spindowntrigger-icon-font-size: dynamic(16px);

/**
 * @var {number}
 * Spin Down Trigger icon font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$spindowntrigger-icon-font-size-big: dynamic($spindowntrigger-icon-size-big);

/**
 * Creates a visual theme for a Spin Down Trigger.
 *
 * @param {string} $ui
 * The name of the UI being created. Can not included spaces or special punctuation
 * (used in CSS class names).
 *
 * @param {String} [$xtype=spindowntrigger] (protected) The {@link Ext.Class#xtype} to use
 * in CSS selectors.  For use by UI mixins of derived classes.
 *
 * @param {number} $width
 * Spin Down Trigger width
 *
 * @param {number} $width-big
 * Spin Down Trigger width in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {color} $background-color
 * Spin Down Trigger background-color
 *
 * @param {color} $hovered-background-color
 * Spin Down Trigger background-color when hovered
 *
 * @param {color} $pressed-background-color
 * Spin Down Trigger background-color when pressed
 *
 * @param {string} $icon
 * Spin Down Trigger icon
 *
 * @param {string} $icon-big
 * Spin Down Trigger icon in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {color} $icon-color
 * Spin Down Trigger icon color
 *
 * @param {color} $hovered-icon-color
 * Spin Down Trigger icon color when hovered
 *
 * @param {color} $pressed-icon-color
 * Spin Down Trigger icon color when pressed
 *
 * @param {color} $icon-background-color
 * Spin Down Trigger icon background-color
 *
 * @param {color} $hovered-icon-background-color
 * Spin Down Trigger icon background-color when hovered
 *
 * @param {color} $pressed-icon-background-color
 * Spin Down Trigger icon background-color when pressed
 *
 * @param {number/list} $icon-border-radius
 * Spin Down Trigger icon border-radius
 *
 * @param {number} $icon-size
 * Spin Down Trigger icon size
 *
 * @param {number} $icon-size-big
 * Spin Down Trigger icon size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $icon-font-size
 * Spin Down Trigger icon font-size
 *
 * @param {number} $icon-font-size-big
 * Spin Down Trigger icon font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
@mixin spindowntrigger-ui(
    $ui: null,
    $xtype: spindowntrigger,
    $width: null,
    $width-big: null,
    $background-color: null,
    $hovered-background-color: null,
    $pressed-background-color: null,
    $icon: null,
    $icon-big: null,
    $icon-color: null,
    $hovered-icon-color: null,
    $pressed-icon-color: null,
    $icon-background-color: null,
    $hovered-icon-background-color: null,
    $pressed-icon-background-color: null,
    $icon-border-radius: null,
    $icon-size: null,
    $icon-size-big: null,
    $icon-font-size: null,
    $icon-font-size-big: null
) {
    $ui-suffix: ui-suffix($ui);

    $arguments: intersect-arguments(spindowntrigger-ui, trigger-ui);

    @include trigger-ui($arguments...);

    .#{$prefix}#{$xtype}#{$ui-suffix} {
        .#{$prefix}icon-el {
            @if $enable-big {
                .#{$prefix}big & {
                    @include icon($icon: $icon-big);
                }
            }
        }
    }
}
