.#{$prefix}video {
    height: 100%;
    width: 100%;
    background-color: $video-background-color;

    > * {
        height: 100%;
        width: 100%;
    }

    .#{$prefix}video-ghost {
        background-size: 100% auto;
        background: $video-ghost-background-color center center no-repeat;
    }
}
