.#{$prefix}float-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: visible;

    > .#{$prefix}floated {
        position: absolute;
        pointer-events: all;
    }
}

// All floatWraps must be above inline components which may have z-indices assigned, so
// elevate the root float wrap..
#ext-global-floatWrap {
    z-index: 999999;
}

// 100vh works on chromeios, 100% causes the body to be able
// to be scrolled out of view.
body.#{$prefix}chromeios {
    height: 100vh !important;
    .#{$prefix}float-wrap {
        height: 100vh;
    }
}
