$grid-header-background-color: dynamic(#373c4b);
$grid-header-over-background-color: dynamic(#496085);
$grid-header-sort-icon-width: dynamic(15px);
$grid-header-selected-cell-background-color: dynamic($orange);
