$button-color: dynamic($highlight-color);
$button-border-color: dynamic(mix(#000, $neutral-light-color, 7%));
$button-border-radius: dynamic(null);
$button-border-radius-big: dynamic(null);
$button-small-border-radius: dynamic(null);
$button-back-forward-tip-horizontal-offset: dynamic(0);
$button-padding: dynamic(7px 8px);
$button-line-height-big: dynamic(22px);
$button-padding-big: dynamic(10px);
$button-badge-border-radius: dynamic(0);
$button-icon-color: dynamic($neutral-dark-color);

$button-action-ui: dynamic((
    background-color: $base-color,
    color: $light-color
));