$dialog-border-color: dynamic(null);
$dialog-header-background-color: dynamic(null);
$dialog-border-color: dynamic(null);
$dialog-border-radius: dynamic(null);
$dialog-border-width: dynamic(2px);
$dialog-border-radius: dynamic(null);
$dialog-border-radius-big: dynamic($dialog-border-radius);

$dialog-header-padding: dynamic(9px 13px 11px);
$dialog-header-padding-big: dynamic(11px 13px 13px);
