$panel-header-font-size: dynamic(16px);
$panel-header-font-size-big: dynamic(20px);
$panel-header-line-height: dynamic(20px);
$panel-header-line-height-big: dynamic(24px);
$panel-header-icon-font-size: dynamic(16px);
$panel-header-icon-font-size-big: dynamic(20px);
$panel-header-icon-opacity: dynamic(null);
$panel-header-color: dynamic($light-color);
$panel-header-icon-color: dynamic($panel-header-color);
$panel-header-padding: dynamic(0 15px);
$panel-header-padding-big: dynamic($panel-header-padding);
$panel-header-title-padding: dynamic(10px 0);
$panel-header-title-padding-big: dynamic(12px 0);
$panel-header-min-height: dynamic(44px);
$panel-header-min-height-big: dynamic(56px);
$panel-tool-opacity: dynamic(null);
$panel-tool-hovered-opacity: dynamic(null);
$panel-tool-pressed-opacity: dynamic(null);

$panel-light-ui: dynamic((
    border-color: $neutral-color,
    body-border-color: $neutral-color,
    header-color: $highlight-color,
    header-background-color: #fff,
    header-border-color: $neutral-color,
    tool-color: $neutral-dark-color,
    tool-focused-outline-color: $base-color
));
