$titlebar-title-font-size: dynamic(16px);
$titlebar-title-font-size-big: dynamic(18px);
$titlebar-padding-big: dynamic(6px 11px);
$titlebar-min-height: dynamic(42px);
$titlebar-min-height-big: dynamic(56px);
