$toolbar-title-font-size: dynamic(16px);
$toolbar-title-font-size-big: dynamic(18px);
$toolbar-padding-big: dynamic(6px 10px);
$toolbar-padding-big: dynamic(6px 15px);
$toolbar-min-height: dynamic(44px);
$toolbar-min-height-big: dynamic(56px);

$toolbar-footer-ui: dynamic((
    background-color: $neutral-highlight-color
));
