.#{$prefix}trigger {
    display: flex;
    align-items: center;
    justify-content: center;

    &.#{$prefix}interactive {
        cursor: pointer;
    }
}

// tag name added to increase specificity over both .x-trigger and .x-big .x-trigger selectors
div.#{$prefix}trigger.#{$prefix}grouped {
    width: auto;
}