$treelist-item-expander-glyph: dynamic($ios-arrow-right);
$treelist-item-expander-expanded-glyph: dynamic($ios-arrow-down);

$treelist-item-expander-font-size: dynamic(14px);
$treelist-item-expander-font-size-big: dynamic(20px);

$treelist-item-icon-width: dynamic(24px);
$treelist-item-icon-width-big: dynamic(30px);