/**
 * @class Ext.ActionSheet
 */

/**
 * @var {color}
 * ActionSheet background-color
 */
$actionsheet-background-color: dynamic($sheet-background-color);

/**
 * @var {color}
 * ActionSheet border-color
 */
$actionsheet-border-color: dynamic($sheet-border-color);

/**
 * @var {number}
 * ActionSheet border-width
 */
$actionsheet-border-width: dynamic($sheet-border-width);

/**
 * @var {number}
 * ActionSheet border-style
 */
$actionsheet-border-style: dynamic($sheet-border-style);

/**
 * @var {number}
 * Space between vertically aligned sheet buttons
 */
$actionsheet-button-spacing: dynamic($sheet-button-spacing);

/**
 * @var {number}
 * ActionSheet padding
 */
$actionsheet-padding: dynamic(8px);
