$mask-opacity: dynamic(0.7);
$mask-background-color: dynamic($background-color);

$mask-page-opacity: dynamic($mask-opacity);
$mask-page-background-color: dynamic($mask-background-color);

$mask-message-color: dynamic(null);
