/**
 * @class Ext.panel.Collapser
 */

.#{$prefix}panel {
    // Need these to anchor the headers to the edge because we've removed the body wrap
    &.#{$prefix}placeholder-animate-end {
        &.#{$prefix}horizontal-header {
            flex-direction: column-reverse;
        }

        &.#{$prefix}vertical-header {
            flex-direction: row-reverse;
        }
    }

    // The header needs to have a higher index than the drawer so the drawer
    // slides out from behind it
    &.#{$prefix}sliding {
        > .#{$prefix}panelheader {
            z-index: 1000;
        }
    }

    &.#{$prefix}drawer {
        z-index: 999;
    }
}