.#{$prefix}datepanel {
    display: inline-flex;
    flex: 0 0 auto !important;

    // Safari wants to display focus outline when a button is clicked
    // within the floating date panel. This is technically correct because
    // the date panel is focused at that moment but we don't want the outline
    // to show anyway.
    &:focus {
        outline: none;
    }

    .#{$prefix}panel-body-el {
        border-width: 0 !important;

        .#{$prefix}cloned {
            position: absolute;
        }
    }

    .#{$prefix}dateview {
        .#{$prefix}cell {
            .#{$prefix}inner {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
