.#{$prefix}panelresizer {
    position: absolute;
    @include no-select;

    &.#{$prefix}north {
        &.#{$prefix}handle {
            cursor: n-resize;
        }

        &.#{$prefix}splitter {
            cursor: row-resize;
        }

        top: 0;
        right: 0;
        left: 0;
    }

    &.#{$prefix}northeast {
        cursor: ne-resize;
        top: 0;
        right: 0;
    }

    &.#{$prefix}east {
        &.#{$prefix}handle {
            cursor: e-resize;
        }

        &.#{$prefix}splitter {
            cursor: col-resize;
        }

        top: 0;
        right: 0;
        bottom: 0;
    }

    &.#{$prefix}southeast {
        cursor: se-resize;
        right: 0;
        bottom: 0;
    }

    &.#{$prefix}south {
        &.#{$prefix}handle {
            cursor: s-resize;
        }

        &.#{$prefix}splitter {
            cursor: row-resize;
        }

        right: 0;
        bottom: 0;
        left: 0;
    }

    &.#{$prefix}southwest {
        cursor: sw-resize;
        bottom: 0;
        left: 0;
    }

    &.#{$prefix}west {
        &.#{$prefix}handle {
            cursor: w-resize;
        }

        &.#{$prefix}splitter {
            cursor: col-resize;
        }

        top: 0;
        bottom: 0;
        left: 0;
    }

    &.#{$prefix}northwest {
        cursor: nw-resize;
        top: 0;
        left: 0;
    }

    &.#{$prefix}disabled {
        &.#{$prefix}handle,
        &.#{$prefix}splitter {
            cursor: default;
        }
    }

}

.#{$prefix}panelresizer-proxy {
    z-index: 999999;
    position: absolute;
    cursor: default;
}