/** @class Ext.panel.Panel */
//

$panel-header-background-gradient: dynamic(color-stops(#F0F0F0, #D7D7D7));
$panel-border-color: dynamic(#D0D0D0);
$panel-header-color: dynamic(#333);
$panel-frame-background-color: dynamic(#f1f1f1);
