/**
 * @class Ext.field.Radio
 */

/**
 * @var {number}
 * Radio Field checkbox size
 */
$radiofield-checkbox-size: dynamic(null);

/**
 * @var {number}
 * Radio Field checkbox size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$radiofield-checkbox-size-big: dynamic(null);

/**
 * @var {number}
 * Radio Field checkbox font size
 */
$radiofield-checkbox-font-size: dynamic(null);

/**
 * @var {number}
 * Radio checkbox font size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$radiofield-checkbox-font-size-big: dynamic(null);

/**
 * @var {number}
 * Radio checkbox margin
 */
$radiofield-checkbox-margin: dynamic(null);

/**
 * @var {number}
 * Radio checkbox margin in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$radiofield-checkbox-margin-big: dynamic(null);

/**
 * @var {string/list}
 * Radio Field checkbox icon
 */
$radiofield-checkbox-icon: dynamic($fa-var-circle-o);

/**
 * @var {string/list}
 * Radio Field checkbox icon when checked
 */
$radiofield-checked-checkbox-icon: dynamic($fa-var-dot-circle-o);

/**
 * @var {color}
 * Radio Field checkbox color
 */
$radiofield-checkbox-color: dynamic(null);

/**
 * @var {color}
 * Radio Field checkbox color when checked
 */
$radiofield-checked-checkbox-color: dynamic(null);

/**
 * @var {color}
 * Radio Field checkbox color when disabled
 */
$radiofield-disabled-checkbox-color: dynamic(null);

/**
 * @var {color}
 * Radio Field checkbox color when focused
 */
$radiofield-focused-checkbox-color: dynamic(null);

/**
 * @var {color}
 * Radio Field {@link #boxLabel} text color
 */
$radiofield-box-label-color: dynamic($field-label-color);

/**
 * @var {string/number}
 * Radio Field {@link #boxLabel} font-weight
 */
$radiofield-box-label-font-weight: dynamic(null);

/**
 * @var {number}
 * Radio Field {@link #boxLabel} font-size
 */
$radiofield-box-label-font-size: dynamic(null);

/**
 * @var {number}
 * Radio Field {@link #boxLabel} font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$radiofield-box-label-font-size-big: dynamic(null);

/**
 * @var {number}
 * Radio Field {@link #boxLabel} line-height
 */
$radiofield-box-label-line-height: dynamic(null);

/**
 * @var {number}
 * Radio Field {@link #boxLabel} line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$radiofield-box-label-line-height-big: dynamic(null);

/**
 * @var {string}
 * Radio Field {@link #boxLabel} font-family
 */
$radiofield-box-label-font-family: dynamic(null);

/**
 * @var {number/list}
 * Radio Field {@link #boxLabel} padding
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 */
$radiofield-box-label-padding: dynamic(null);

/**
 * @var {number/list}
 * Radio Field {@link #boxLabel} padding in the {@link Global_CSS#$enable-big big} sizing scheme
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 */
$radiofield-box-label-padding-big: dynamic(null);

/**
 * Creates a visual theme for a Radio Field
 *
 * @param {string} $ui
 * The name of the UI being created. Can not included spaces or special punctuation
 * (used in CSS class names).
 *
 * @param {String} [$xtype=radiofield] (protected) The {@link Ext.Class#xtype} to use
 * in CSS selectors.  For use by UI mixins of derived classes.
 *
 * @param {number} $checkbox-size
 * Radio Field checkbox size
 *
 * @param {number} $checkbox-size-big
 * Radio Field checkbox size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $checkbox-font-size
 * Radio Field checkbox font size
 *
 * @param {number} $checkbox-font-size-big
 * Radio checkbox font size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $checkbox-margin
 * Radio checkbox margin
 *
 * @param {number} $checkbox-margin-big
 * Radio checkbox margin in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {string/list} $checkbox-icon
 * Radio Field checkbox icon
 *
 * @param {string/list} $checked-checkbox-icon
 * Radio Field checkbox icon when checked
 *
 * @param {color} $checkbox-color
 * Radio Field checkbox color
 *
 * @param {color} $checked-checkbox-color
 * Radio Field checkbox color when checked
 *
 * @param {color} $disabled-checkbox-color
 * Radio Field checkbox color when disabled
 *
 * @param {color} $focused-checkbox-color
 * Radio Field checkbox color when focused
 *
 * @param {color} $box-label-color
 * Radio Field {@link #boxLabel} text color
 *
 * @param {string/number} $box-label-font-weight
 * Radio Field {@link #boxLabel} font-weight
 *
 * @param {number} $box-label-font-size
 * Radio Field {@link #boxLabel} font-size
 *
 * @param {number} $box-label-font-size-big
 * Radio Field {@link #boxLabel} font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $box-label-line-height
 * Radio Field {@link #boxLabel} line-height
 *
 * @param {number} $box-label-line-height-big
 * Radio Field {@link #boxLabel} line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {string} $box-label-font-family
 * Radio Field {@link #boxLabel} font-family
 *
 * @param {number/list} $box-label-padding
 * Radio Field {@link #boxLabel} padding
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 *
 * @param {number/list} $box-label-padding-big
 * Radio Field {@link #boxLabel} padding in the {@link Global_CSS#$enable-big big} sizing scheme
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 */
@mixin radiofield-ui(
    $ui: null,
    $xtype: radiofield,
    $checkbox-size: null,
    $checkbox-size-big: null,
    $checkbox-font-size: null,
    $checkbox-font-size-big: null,
    $checkbox-margin: null,
    $checkbox-margin-big: null,
    $checkbox-icon: null,
    $checked-checkbox-icon: null,
    $checkbox-color: null,
    $checked-checkbox-color: null,
    $disabled-checkbox-color: null,
    $focused-checkbox-color: null,
    $box-label-color: null,
    $box-label-font-weight: null,
    $box-label-font-size: null,
    $box-label-font-size-big: null,
    $box-label-line-height: null,
    $box-label-line-height-big: null,
    $box-label-font-family: null,
    $box-label-padding: null,
    $box-label-padding-big: null
) {
    $arguments: intersect-arguments(radiofield-ui, checkboxfield-ui);

    @include checkboxfield-ui($arguments...);
}

