/**
 * @class Ext.field.Toggle
 */

/**
 * @var {number/list}
 * Toggle Field padding
 */
$togglefield-padding: dynamic(null);

/**
 * @var {number/list}
 * Toggle Field padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$togglefield-padding-big: dynamic(null);

/**
 * @var {color}
 * Toggle Field {@link #boxLabel} text color
 */
$togglefield-box-label-color: dynamic(null);

/**
 * @var {string/number}
 * Toggle Field {@link #boxLabel} font-weight
 */
$togglefield-box-label-font-weight: dynamic(null);

/**
 * @var {number}
 * Toggle Field {@link #boxLabel} font-size
 */
$togglefield-box-label-font-size: dynamic(null);

/**
 * @var {number}
 * Toggle Field {@link #boxLabel} font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$togglefield-box-label-font-size-big: dynamic(null);

/**
 * @var {number}
 * Toggle Field {@link #boxLabel} line-height
 */
$togglefield-box-label-line-height: dynamic(null);

/**
 * @var {number}
 * Toggle Field {@link #boxLabel} line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$togglefield-box-label-line-height-big: dynamic(null);

/**
 * @var {string}
 * Toggle Field {@link #boxLabel} font-family
 */
$togglefield-box-label-font-family: dynamic(null);

/**
 * @var {number/list}
 * Toggle Field {@link #boxLabel} padding
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 */
$togglefield-box-label-padding: dynamic(null);

/**
 * @var {number/list}
 * Toggle Field {@link #boxLabel} padding in the {@link Global_CSS#$enable-big big} sizing scheme
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 */
$togglefield-box-label-padding-big: dynamic(null);

/**
 * @var {number}
 * Toggle Field body width
 */
$togglefield-body-width: dynamic(auto);

/**
 * @var {number}
 * Toggle Field body width in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$togglefield-body-width-big: dynamic(auto);

/**
 * Creates a visual theme for a Toggle Field
 *
 * @param {string} $ui
 * The name of the UI being created. Can not included spaces or special punctuation
 * (used in CSS class names).
 *
 * @param {String} [$xtype=togglefield] (protected) The {@link Ext.Class#xtype} to use
 * in CSS selectors.  For use by UI mixins of derived classes.
 *
 * @param {number/list} $padding
 * Toggle Field padding
 *
 * @param {number/list} $padding-big
 * Toggle Field padding in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {color} $box-label-color
 * Toggle Field {@link #boxLabel} text color
 *
 * @param {string/number} $box-label-font-weight
 * Toggle Field {@link #boxLabel} font-weight
 *
 * @param {number} $box-label-font-size
 * Toggle Field {@link #boxLabel} font-size
 *
 * @param {number} $box-label-font-size-big
 * Toggle Field {@link #boxLabel} font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $box-label-line-height
 * Toggle Field {@link #boxLabel} line-height
 *
 * @param {number} $box-label-line-height-big
 * Toggle Field {@link #boxLabel} line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {string} $box-label-font-family
 * Toggle Field {@link #boxLabel} font-family
 *
 * @param {number/list} $box-label-padding
 * Toggle Field {@link #boxLabel} padding
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 *
 * @param {number/list} $box-label-padding-big
 * Toggle Field {@link #boxLabel} padding in the {@link Global_CSS#$enable-big big} sizing scheme
 * The padding box will be flipped horizontally when {@link #boxLabelAlign} is `before`
 *
 * @param {number} $body-width
 * Toggle Field body width
 *
 * @param {number} $body-width-big
 * Toggle Field body width in the {@link Global_CSS#$enable-big big} sizing scheme
 */
@mixin togglefield-ui(
    $ui: null,
    $xtype: togglefield,
    $padding: null,
    $padding-big: null,
    $box-label-color: null,
    $box-label-font-weight: null,
    $box-label-font-size: null,
    $box-label-font-size-big: null,
    $box-label-line-height: null,
    $box-label-line-height-big: null,
    $box-label-font-family: null,
    $box-label-padding: null,
    $box-label-padding-big: null,
    $body-width,
    $body-width-big
) {
    $arguments: intersect-arguments(togglefield-ui, sliderfield-ui);

    @include sliderfield-ui($arguments...);
}
