@include menuitem-ui(
    $color: $menuitem-color,
    $active-color: $menuitem-active-color,
    $disabled-color: $menuitem-disabled-color,
    $background-color: $menuitem-background-color,
    $active-background-color: $menuitem-active-background-color,
    $disabled-background-color: $menuitem-disabled-background-color,
    $font-weight: $menuitem-font-weight,
    $font-size: $menuitem-font-size,
    $font-size-big: $menuitem-font-size-big,
    $font-family: $menuitem-font-family,
    $height: $menuitem-height,
    $height-big: $menuitem-height-big,
    $cursor: $menuitem-cursor,
    $disabled-cursor: $menuitem-disabled-cursor,
    $focused-outline-width: $menuitem-focused-outline-width,
    $focused-outline-style: $menuitem-focused-outline-style,
    $focused-outline-color: $menuitem-focused-outline-color,
    $focused-outline-offset: $menuitem-focused-outline-offset,
    $disabled-opacity: $menuitem-disabled-opacity,
    $icon-color: $menuitem-icon-color,
    $active-icon-color: $menuitem-active-icon-color,
    $disabled-icon-color: $menuitem-disabled-icon-color,
    $icon-size: $menuitem-icon-size,
    $icon-size-big: $menuitem-icon-size-big,
    $icon-font-size: $menuitem-icon-font-size,
    $icon-font-size-big: $menuitem-icon-font-size-big,
    $arrow-icon: $menuitem-arrow-icon,
    $arrow-icon-color: $menuitem-arrow-icon-color,
    $active-arrow-icon-color: $menuitem-active-arrow-icon-color,
    $disabled-arrow-icon-color: $menuitem-disabled-arrow-icon-color,
    $arrow-icon-size: $menuitem-arrow-icon-size,
    $arrow-icon-size-big: $menuitem-arrow-icon-size-big,
    $arrow-icon-font-size: $menuitem-arrow-icon-font-size,
    $arrow-icon-font-size-big: $menuitem-arrow-icon-font-size-big,
    $arrow-icon-margin: $menuitem-arrow-icon-margin,
    $arrow-icon-margin-big: $menuitem-arrow-icon-margin-big
);
