@include menu-ui(
    $background-color: $menu-background-color,
    $border-color: $menu-border-color,
    $border-width: $menu-border-width,
    $border-style: $menu-border-style,
    $border-radius: $menu-border-radius,
    $border-radius-big: $menu-border-radius-big,
    $body-background-color: $menu-body-background-color,
    $body-color: $menu-body-color,
    $body-border-color: $menu-body-border-color,
    $body-border-width: $menu-body-border-width,
    $body-border-style: $menu-body-border-style,
    $body-font-weight: $menu-body-font-weight,
    $body-font-size: $menu-body-font-size,
    $body-font-size-big: $menu-body-font-size-big,
    $body-line-height: $menu-body-line-height,
    $body-line-height-big: $menu-body-line-height-big,
    $body-font-family: $menu-body-font-family,
    $body-padding: $menu-body-padding,
    $body-padding-big: $menu-body-padding-big,
    $header-background-color: $menu-header-background-color,
    $header-background-gradient: $menu-header-background-gradient,
    $header-color: $menu-header-color,
    $header-border-color: $menu-header-border-color,
    $header-border-width: $menu-header-border-width,
    $header-border-style: $menu-header-border-style,
    $header-font-weight: $menu-header-font-weight,
    $header-font-size: $menu-header-font-size,
    $header-font-size-big: $menu-header-font-size-big,
    $header-line-height: $menu-header-line-height,
    $header-line-height-big: $menu-header-line-height-big,
    $header-font-family: $menu-header-font-family,
    $header-padding: $menu-header-padding,
    $header-padding-big: $menu-header-padding-big,
    $header-title-padding: $menu-header-title-padding,
    $header-title-padding-big: $menu-header-title-padding-big,
    $header-title-opacity: $menu-header-title-opacity,
    $header-shadow: $menu-header-shadow,
    $header-z-index: $menu-header-z-index,
    $header-min-height: $menu-header-min-height,
    $header-min-height-big: $menu-header-min-height-big,
    $header-icon-color: $menu-header-icon-color,
    $header-icon-size: $menu-header-icon-size,
    $header-icon-size-big: $menu-header-icon-size-big,
    $header-icon-font-size: $menu-header-icon-font-size,
    $header-icon-font-size-big: $menu-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $menu-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $menu-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $menu-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $menu-header-icon-vertical-spacing-big,
    $header-icon-opacity: $menu-header-icon-opacity,
    $tool-color: $menu-tool-color,
    $tool-hovered-color: $menu-tool-hovered-color,
    $tool-pressed-color: $menu-tool-pressed-color,
    $tool-disabled-color: $menu-tool-disabled-color,
    $tool-background-color: $menu-tool-background-color,
    $tool-hovered-background-color: $menu-tool-hovered-background-color,
    $tool-pressed-background-color: $menu-tool-pressed-background-color,
    $tool-disabled-background-color: $menu-tool-disabled-background-color,
    $tool-opacity: $menu-tool-opacity,
    $tool-hovered-opacity: $menu-tool-hovered-opacity,
    $tool-pressed-opacity: $menu-tool-pressed-opacity,
    $tool-disabled-opacity: $menu-tool-disabled-opacity,
    $tool-border-radius: $menu-tool-border-radius,
    $tool-border-radius-big: $menu-tool-border-radius-big,
    $tool-size: $menu-tool-size,
    $tool-size-big: $menu-tool-size-big,
    $tool-font-size: $menu-tool-font-size,
    $tool-font-size-big: $menu-tool-font-size-big,
    $tool-spacing: $menu-tool-spacing,
    $tool-spacing-big: $menu-tool-spacing-big,
    $tool-cursor: $menu-tool-cursor,
    $tool-disabled-cursor: $menu-tool-disabled-cursor,
    $tool-focused-outline-width: $menu-tool-focused-outline-width,
    $tool-focused-outline-style: $menu-tool-focused-outline-style,
    $tool-focused-outline-color: $menu-tool-focused-outline-color,
    $tool-focused-outline-offset: $menu-tool-focused-outline-offset,
    $anchor-border-color: $menu-anchor-border-color,
    $anchor-background-color: $menu-anchor-background-color,
    $anchor-width: $menu-anchor-width,
    $anchor-height: $menu-anchor-height,
    $anchor-margin: $menu-anchor-margin,
    $manage-borders: $menu-manage-borders,
    $icon-column-width: $menu-icon-column-width,
    $icon-column-width-big: $menu-icon-column-width-big,
    $text-spacing: $menu-text-spacing,
    $text-spacing-big: $menu-text-spacing-big,
    $separator-width: $menu-separator-width,
    $separator-border-width: $menu-separator-border-width,
    $separator-border-style: $menu-separator-border-style,
    $separator-border-color: $menu-separator-border-color,
    $separator-background-color: $menu-separator-background-color,
    $component-margin: $menu-component-margin,
    $component-margin-big: $menu-component-margin-big
);

// Override default form field vertical spacing when in a menu
// Spacing of form fields in menus is handled by $menu-component-margin instead
.#{$prefix}menu-body-el > .#{$prefix}field {
    @if $field-vertical-spacing != null {
        padding-bottom: 0;
    }

    @if $enable-big and $field-vertical-spacing-big != null {
        .#{$prefix}big & {
            padding-bottom: 0;
        }
    }
}
