@include menuseparator-ui(
    $size: $menuseparator-size,
    $border-width: $menuseparator-border-width,
    $border-style: $menuseparator-border-style,
    $border-color: $menuseparator-border-color,
    $background-color: $menuseparator-background-color,
    $margin: $menuseparator-margin
);