/**
 * @class Ext.picker.Date
 */

/**
 * @var $datepicker-background-color
 */
$datepicker-background-color: dynamic(#21252e);

$datepicker-border-color: dynamic(#798294);
$datepicker-item-today-border-color: dynamic(#9999aa);
$datepicker-header-background-color: dynamic(#5c6980);
$datepicker-column-header-background-color: dynamic(#3a4051);
$datepicker-column-header-color: dynamic(#fff);
$datepicker-column-header-border-color: dynamic(#535b5c);
$datepicker-item-height: dynamic(25px);
$datepicker-item-color: dynamic(#fff);
$datepicker-item-hover-background-color: dynamic(#7e5530);
$datepicker-item-selected-border-color: dynamic(#864900);
$datepicker-item-selected-background-color: dynamic(#e5872c);
$datepicker-month-button-color: dynamic(#fff);
$datepicker-monthpicker-height: dynamic(172px);
$datepicker-monthpicker-item-color: dynamic(#fff);
$datepicker-monthpicker-item-border: dynamic(0 none);
$datepicker-monthpicker-item-selected-background-color: dynamic($datepicker-item-selected-background-color);
$datepicker-arrow-opacity: dynamic(1);
$datepicker-arrow-opacity-over: dynamic(.7);
