// Source Sans Pro disabled temporarily for SenchaCon.  Revisit this in the future.
//$font-family: dynamic("Source Sans Pro", helvetica, arial, verdana, sans-serif);
$font-family: dynamic(helvetica, arial, verdana, sans-serif);
$font-weight: dynamic(300);
$font-weight-bold: dynamic(300);
$base-color: dynamic(#157fcc);
$base-highlight-color: dynamic(mix(#fff, $base-color, 15%));
$base-light-color: dynamic(mix(#fff, $base-color, 65%));
$base-dark-color: dynamic(mix(#000, $base-color, 14%));
$neutral-color: dynamic(#e1e1e1);
$neutral-light-color: dynamic(mix(#fff, $neutral-color, 68%));
$neutral-medium-dark-color: dynamic(mix(#000, $neutral-color, 4%));
$neutral-dark-color: dynamic(mix(#000, $neutral-color, 8%));
$body-background-color: dynamic(#fff);
$font-size: dynamic(13px);
