$boundlist-background-color: dynamic(#404551);
$boundlist-border-color: dynamic(#222732);
$boundlist-border-width: dynamic(2px);
$boundlist-item-border-width: dynamic(0);
$boundlist-item-over-background-color: dynamic(#e5872c);
$boundlist-item-selected-background-color: dynamic(#e5872c);
