$grid-cell-selected-color: dynamic(black);
$grid-cell-selected-background-color: dynamic($orange);

$grid-row-cell-over-background-color: dynamic(#7e55ef);

$grid-row-cell-focus-border-width: dynamic(0);
