$slider-track-height: dynamic(12px);
$slider-track-border-color: dynamic($neutral-color);
$slider-track-background-color: dynamic(mix(#000, $neutral-light-color, 3%));
$slider-track-border-radius: dynamic(null);
$slider-track-border-radius-big: dynamic(null);
$slider-fill-background-color: dynamic($base-highlight-color);
