$thumb-height: dynamic(20px);
$thumb-height-big: dynamic(30px);
$thumb-width: dynamic(20px);
$thumb-width-big: dynamic(30px);

$thumb-border-radius: dynamic(null);
$thumb-border-radius-big: dynamic(null);
$thumb-border-color: dynamic($neutral-color);
$thumb-box-shadow: dynamic(null);
$thumb-icon: dynamic($ext-var-equals-vertical ExtJS);
$thumb-icon-color: dynamic($neutral-color);
$thumb-icon-size: dynamic(12px);
$thumb-icon-size-big: dynamic(16px);
$thumb-background-color: dynamic($neutral-light-color);
$thumb-hovered-background-color: dynamic(mix(#fff, $thumb-background-color, 70%));
$thumb-pressed-background-color: dynamic(mix(#000, $thumb-background-color, 2%));
