$spindowntrigger-icon: dynamic($ios-arrow-down iOS);
$spindowntrigger-icon-big: dynamic($ios-spinner-minus iOS);

$spindowntrigger-icon-size: dynamic(12px);
$spindowntrigger-icon-font-size: dynamic(16px);
