$trigger-width: dynamic(22px);
$trigger-width-big: dynamic(30px);
$trigger-icon: dynamic($ios-arrow-down iOS);
$trigger-icon-color: dynamic($base-color);

$trigger-icon-size: dynamic(16px);
$trigger-icon-size-big: dynamic(24px);