$treelist-toolstrip-background-color: dynamic($background-color);
$treelist-color: dynamic($color);
$treelist-padding: dynamic(0 $content-padding);
$treelist-item-text-color: dynamic($treelist-color);
$treelist-item-text-icon-gap: dynamic(16px);
$treelist-item-text-over-color: dynamic($treelist-item-text-color);
$treelist-item-text-font-size: dynamic($font-size);
$treelist-item-text-overflow: dynamic(ellipsis);
$treelist-item-expander-color: dynamic($treelist-color);
$treelist-item-expander-over-color: dynamic($treelist-item-expander-color);
$treelist-item-expander-glyph: dynamic('keyboard_arrow_down' $font-icon-font-family);
$treelist-item-expander-expanded-glyph: dynamic('keyboard_arrow_up' $font-icon-font-family);
$treelist-item-icon-color: dynamic($treelist-color);
$treelist-item-icon-over-color: dynamic($treelist-item-icon-color);
$treelist-item-icon-width: dynamic(22px);
$treelist-item-icon-width-big: dynamic(null);
$treelist-item-icon-font-size: dynamic(18px);
$treelist-item-icon-font-size-big: dynamic(null);
$treelist-item-expanded-background-color: dynamic(null);
$treelist-item-expanded-child-background-color: dynamic(null);
$treelist-row-selected-background-color: dynamic(null);
$treelist-row-selected-over-background-color: dynamic(null);
$treelist-row-over-background-color: dynamic($overlay-color);

$treelist-nav-ui: dynamic((
    padding: 0 $content-padding,
    background-color: $background-color,
    
    toolstrip-background-color: $background-color,
    tool-selected-color: $color,
    tool-selected-background-color: darken($background-color, 15%),
    tool-float-indicator-width: 4px,
    tool-float-indicator-color: $accent-light-color,
    tool-indicator-selected-color: $accent-color,
    tool-indicator-selected-width: 4px,

    row-indicator-width: 6px,
    row-indicator-selected-color: $accent-color,
    row-indicator-selected-over-color: $accent-color,
    row-indicator-over-color: $accent-light-color,
    
    item-expanded-background-color: darken($background-color, 4.6%),
    item-line-height: 44px,
    item-icon-color: lighten($color, 25%),
    item-expander-color: lighten($color, 30%),
    item-text-color: $color,
    row-over-background-color: darken($background-color, 10%),
    row-over-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    item-icon-over-color: lighten($color, 25%),
    item-expander-over-color: $color,
    item-text-over-color: $color,
    item-text-font-size: 16px,
    item-icon-font-size: 18px,
    item-icon-width: 24px,
    item-expander-font-size: 22px,
    item-expander-width: 24px,
    item-icon-over-transition: none,
    item-text-over-transition: none,
    item-expander-over-transition: none,
    item-expander-glyph: 'keyboard_arrow_down',
    item-expander-expanded-glyph: 'keyboard_arrow_up',
    
    row-selected-background-color: darken($background-color, 10%)
));
