$tab-background-color: dynamic(transparent);
$tab-hovered-background-color: dynamic(rgba(0,0,0,0.08));
$tab-active-background-color: dynamic(#fff);
$tab-border-radius: dynamic(null);
$tab-border-radius-big: dynamic(null);

$tab-padding: dynamic(10px 8px);
$tab-line-height-big: dynamic(22px);
$tab-padding-big: dynamic(11px 10px);
$tab-badge-border-radius: dynamic(0);


$tab-close-icon-background-color: dynamic(null);
$tab-close-icon-hovered-background-color: dynamic(null);
$tab-close-icon-pressed-background-color: dynamic(null);

$tab-close-icon-color: dynamic($tab-color);
$tab-close-icon-hovered-color: dynamic(rgba($tab-close-icon-color, .8));
$tab-close-icon-pressed-color: dynamic(rgba($tab-close-icon-color, .6));
$tab-active-close-icon-color: dynamic($neutral-dark-color);
$tab-active-close-icon-hovered-color: dynamic(rgba($tab-active-close-icon-color, .8));
$tab-active-close-icon-pressed-color: dynamic(rgba($tab-active-close-icon-color, .6));

$tab-close-icon-size: dynamic(16px);
$tab-close-icon-font-size: dynamic(12px);

$tab-close-icon-size-big: dynamic(20px);
$tab-close-icon-font-size: dynamic(14px);

$tab-close-icon-spacing: dynamic(15px);
$tab-close-icon-spacing-big: dynamic(20px);
