$toolbar-border-color: dynamic($neutral-dark-color);
$toolbar-tool-background-image: dynamic('tools/tool-sprites-dark');
$toolbar-footer-background-color: dynamic(mix(#000, $neutral-light-color, 6%));
