@include headercontainer-ui(
    $border-width: $headercontainer-border-width,
    $border-style: $headercontainer-border-style,
    $border-color: $headercontainer-border-color,
    $background-color: $headercontainer-background-color
);