@include gridrow-ui(
    $color: $gridrow-color,
    $hovered-color: $gridrow-hovered-color,
    $selected-color: $gridrow-selected-color,
    $pressed-color: $gridrow-pressed-color,
    $pinned-color: $gridrow-pinned-color,
    $background-color: $gridrow-background-color,
    $alt-background-color: $gridrow-alt-background-color,
    $hovered-background-color: $gridrow-hovered-background-color,
    $selected-background-color: $gridrow-selected-background-color,
    $pressed-background-color: $gridrow-pressed-background-color,
    $pinned-background-color: $gridrow-pinned-background-color,
    $border-width: $gridrow-border-width,
    $border-style: $gridrow-border-style,
    $border-color: $gridrow-border-color,
    $hovered-border-color: $gridrow-hovered-border-color,
    $selected-border-color: $gridrow-selected-border-color,
    $pressed-border-color: $gridrow-pressed-border-color,
    $pinned-border-color: $gridrow-pinned-border-color,
    $pinned-box-shadow: $gridrow-pinned-box-shadow,
    $pinned-bottom-box-shadow: $gridrow-pinned-bottom-box-shadow
);