@include rowheader-ui(
    $color: $rowheader-color,
    $pinned-color: $rowheader-pinned-color,
    $background-color: $rowheader-background-color,
    $pinned-background-color: $rowheader-pinned-background-color,
    $border-width: $rowheader-border-width,
    $border-style: $rowheader-border-style,
    $border-color: $rowheader-border-color,
    $pinned-border-color: $rowheader-pinned-border-color,
    $focused-outline-width: $rowheader-focused-outline-width,
    $focused-outline-style: $rowheader-focused-outline-style,
    $focused-outline-color: $rowheader-focused-outline-color,
    $focused-outline-offset: $rowheader-focused-outline-offset,
    $box-shadow: $rowheader-box-shadow,
    $pinned-box-shadow: $rowheader-pinned-box-shadow,
    $pinned-bottom-box-shadow: $rowheader-pinned-bottom-box-shadow,
    $font-weight: $rowheader-font-weight,
    $font-size: $rowheader-font-size,
    $font-size-big: $rowheader-font-size-big,
    $line-height: $rowheader-line-height,
    $line-height-big: $rowheader-line-height-big,
    $font-family: $rowheader-font-family,
    $padding: $rowheader-padding,
    $padding-big: $rowheader-padding-big
);