$tag-field-item-close-icon-size: dynamic(18px);
$tag-field-item-close-icon-top: dynamic(2px);
$tag-field-item-close-icon-right: dynamic(2px);

$tag-field-padding: dynamic(3px 0 0 4px);
$tag-field-item-height: dynamic(24px);
$tag-field-item-margin: dynamic(0 4px 3px 0);
