$listitem-border-color: dynamic(mix(#000, $neutral-light-color, 5%));
$listitem-hovered-border-color: dynamic(mix(#000, $listitem-hovered-background-color, 5%));
$listitem-selected-border-color: dynamic(mix(#000, $listitem-selected-background-color, 5%));
$listitem-padding: dynamic(8px 10px 7px);
$listitem-padding-big: dynamic(12px 15px);
