/** @class Ext.grid.property.Grid */
//

$grid-property-cell-background-image: dynamic('grid/property-cell-bg');
$grid-property-cell-background-position: dynamic(-16px 2px);
$grid-property-cell-before-padding: dynamic(12px);
