.#{$prefix}column-header-trigger {
    background-color: $grid-header-background-color;
}

// Classic theme uses different left.right menu trigger images.
@if $include-rtl {
    .#{$prefix}rtl.#{$prefix}column-header-trigger {
        background-image: theme-background-image($grid-header-trigger-background-image + '-left');
    }
}
