$tabbar-strip-background-color: dynamic($orange);
$tabbar-scroller-opacity: dynamic(1);
$tabbar-scroller-opacity-over: dynamic(.8);
$tabbar-scroller-opacity-pressed: dynamic(.6);
$tabbar-scroller-opacity-disabled: dynamic(.3);
