@include tabbar-ui(
    $background-color: $tabbar-background-color,
    $background-gradient: $tabbar-background-gradient,
    $color: $tabbar-color,
    $border-color: $tabbar-border-color,
    $border-width: $tabbar-border-width,
    $border-style: $tabbar-border-style,
    $box-shadow: $tabbar-box-shadow,
    $font-weight: $tabbar-font-weight,
    $font-size: $tabbar-font-size,
    $font-size-big: $tabbar-font-size-big,
    $line-height: $tabbar-line-height,
    $line-height-big: $tabbar-line-height-big,
    $font-family: $tabbar-font-family,
    $padding: $tabbar-padding,
    $padding-big: $tabbar-padding-big,
    $horizontal-spacing: $tabbar-horizontal-spacing,
    $horizontal-spacing-big: $tabbar-horizontal-spacing-big,
    $vertical-spacing: $tabbar-vertical-spacing,
    $vertical-spacing-big: $tabbar-vertical-spacing-big,
    $title-color: $tabbar-title-color,
    $title-font-weight: $tabbar-title-font-weight,
    $title-font-size: $tabbar-title-font-size,
    $title-font-size-big: $tabbar-title-font-size-big,
    $title-font-family: $tabbar-title-font-family,
    $min-height: $tabbar-min-height,
    $min-height-big: $tabbar-min-height-big,
    $strip-height: $tabbar-strip-height,
    $strip-height-big: $tabbar-strip-height-big,
    $strip-background-color: $tabbar-strip-background-color
);
