@include tab-ui(
    $background-color: $tab-background-color,
    $hovered-background-color: $tab-hovered-background-color,
    $pressed-background-color: $tab-pressed-background-color,
    $active-background-color: $tab-active-background-color,
    $focused-background-color: $tab-focused-background-color,
    $active-focused-background-color: $tab-active-focused-background-color,
    $disabled-background-color: $tab-disabled-background-color,
    $box-shadow: $tab-box-shadow,
    $hovered-box-shadow: $tab-hovered-box-shadow,
    $pressed-box-shadow: $tab-pressed-box-shadow,
    $active-box-shadow: $tab-active-box-shadow,
    $focused-box-shadow: $tab-focused-box-shadow,
    $active-focused-box-shadow: $tab-active-focused-box-shadow,
    $disabled-box-shadow: $tab-disabled-box-shadow,
    $background-gradient: $tab-background-gradient,
    $hovered-background-gradient: $tab-hovered-background-gradient,
    $pressed-background-gradient: $tab-pressed-background-gradient,
    $active-background-gradient: $tab-active-background-gradient,
    $focused-background-gradient: $tab-focused-background-gradient,
    $active-focused-background-gradient: $tab-active-focused-background-gradient,
    $disabled-background-gradient: $tab-disabled-background-gradient,
    $color: $tab-color,
    $hovered-color: $tab-hovered-color,
    $pressed-color: $tab-pressed-color,
    $active-color: $tab-active-color,
    $focused-color: $tab-focused-color,
    $active-focused-color: $tab-active-focused-color,
    $disabled-color: $tab-disabled-color,
    $border-color: $tab-border-color,
    $hovered-border-color: $tab-hovered-border-color,
    $pressed-border-color: $tab-pressed-border-color,
    $active-border-color: $tab-active-border-color,
    $focused-border-color: $tab-focused-border-color,
    $active-focused-border-color: $tab-active-focused-border-color,
    $disabled-border-color: $tab-disabled-border-color,
    $focused-outline-color: $tab-focused-outline-color,
    $active-focused-outline-color: $tab-active-focused-outline-color,
    $focused-outline-style: $tab-focused-outline-style,
    $focused-outline-width: $tab-focused-outline-width,
    $focused-outline-offset: $tab-focused-outline-offset,
    $border-width: $tab-border-width,
    $border-style: $tab-border-style,
    $border-radius: $tab-border-radius,
    $border-radius-big: $tab-border-radius-big,
    $font-weight: $tab-font-weight,
    $font-size: $tab-font-size,
    $font-size-big: $tab-font-size-big,
    $stacked-font-size: $tab-stacked-font-size,
    $stacked-font-size-big: $tab-stacked-font-size-big,
    $line-height: $tab-line-height,
    $line-height-big: $tab-line-height-big,
    $font-family: $tab-font-family,
    $text-transform: $tab-text-transform,
    $text-transform-big: $tab-text-transform-big,
    $padding: $tab-padding,
    $padding-big: $tab-padding-big,
    $icon-only-padding: $tab-icon-only-padding,
    $icon-only-padding-big: $tab-icon-only-padding-big,
    $icon-color: $tab-icon-color,
    $hovered-icon-color: $tab-hovered-icon-color,
    $pressed-icon-color: $tab-pressed-icon-color,
    $active-icon-color: $tab-active-icon-color,
    $focused-icon-color: $tab-focused-icon-color,
    $active-focused-icon-color: $tab-active-focused-icon-color,
    $disabled-icon-color: $tab-disabled-icon-color,
    $icon-size: $tab-icon-size,
    $icon-size-big: $tab-icon-size-big,
    $icon-font-size: $tab-icon-font-size,
    $icon-font-size-big: $tab-icon-font-size-big,
    $icon-horizontal-spacing: $tab-icon-horizontal-spacing,
    $icon-horizontal-spacing-big: $tab-icon-horizontal-spacing-big,
    $icon-vertical-spacing: $tab-icon-vertical-spacing,
    $icon-vertical-spacing-big: $tab-icon-vertical-spacing-big,
    $disabled-opacity: $tab-disabled-opacity,
    $arrow-icon: $tab-arrow-icon,
    $arrow-icon-color: $tab-arrow-icon-color,
    $hovered-arrow-icon-color: $tab-hovered-arrow-icon-color,
    $pressed-arrow-icon-color: $tab-pressed-arrow-icon-color,
    $active-arrow-icon-color: $tab-active-arrow-icon-color,
    $focused-arrow-icon-color: $tab-focused-arrow-icon-color,
    $active-focused-arrow-icon-color: $tab-active-focused-arrow-icon-color,
    $disabled-arrow-icon-color: $tab-disabled-arrow-icon-color,
    $arrow-icon-size: $tab-arrow-icon-size,
    $arrow-icon-size-big: $tab-arrow-icon-size-big,
    $arrow-icon-font-size: $tab-arrow-icon-font-size,
    $arrow-icon-font-size-big: $tab-arrow-icon-font-size-big,
    $arrow-horizontal-spacing: $tab-arrow-horizontal-spacing,
    $arrow-horizontal-spacing-big: $tab-arrow-horizontal-spacing-big,
    $arrow-vertical-spacing: $tab-arrow-vertical-spacing,
    $arrow-vertical-spacing-big: $tab-arrow-vertical-spacing-big,
    $badge-background-color: $tab-badge-background-color,
    $badge-background-gradient: $tab-badge-background-gradient,
    $badge-color: $tab-badge-color,
    $badge-border-color: $tab-badge-border-color,
    $badge-border-radius: $tab-badge-border-radius,
    $badge-min-width: $tab-badge-min-width,
    $badge-max-width: $tab-badge-max-width,
    $badge-font-weight: $tab-badge-font-weight,
    $badge-font-size: $tab-badge-font-size,
    $badge-font-size-big: $tab-badge-font-size-big,
    $badge-font-family: $tab-badge-font-family,
    $badge-line-height: $tab-badge-line-height,
    $badge-line-height-big: $tab-badge-line-height-big,
    $badge-top: $tab-badge-top,
    $badge-right: $tab-badge-right,
    $badge-bottom: $tab-badge-bottom,
    $badge-left: $tab-badge-left,
    $badge-padding: $tab-badge-padding,
    $badge-padding-big: $tab-badge-padding-big,
    $active-indicator-background-color: $tab-active-indicator-background-color,
    $active-indicator-height: $tab-active-indicator-height,
    $close-icon: $tab-close-icon,
    $close-icon-color: $tab-close-icon-color,
    $close-icon-hovered-color: $tab-close-icon-hovered-color,
    $close-icon-pressed-color: $tab-close-icon-pressed-color,
    $active-close-icon-color: $tab-active-close-icon-color,
    $active-close-icon-hovered-color: $tab-active-close-icon-hovered-color,
    $active-close-icon-pressed-color: $tab-active-close-icon-pressed-color,
    $close-icon-background-color: $tab-close-icon-background-color,
    $close-icon-hovered-background-color: $tab-close-icon-hovered-background-color,
    $close-icon-pressed-background-color: $tab-close-icon-pressed-background-color,
    $active-close-icon-background-color: $tab-active-close-icon-background-color,
    $active-close-icon-hovered-background-color: $tab-active-close-icon-hovered-background-color,
    $active-close-icon-pressed-background-color: $tab-active-close-icon-pressed-background-color,
    $close-icon-border-radius: $tab-close-icon-border-radius,
    $close-icon-border-radius-big: $tab-close-icon-border-radius-big,
    $close-icon-size: $tab-close-icon-size,
    $close-icon-size-big: $tab-close-icon-size-big,
    $close-icon-font-size: $tab-close-icon-font-size,
    $close-icon-font-size-big: $tab-close-icon-font-size-big,
    $close-icon-margin: $tab-close-icon-margin,
    $close-icon-margin-big: $tab-close-icon-margin-big,
    $close-icon-spacing: $tab-close-icon-spacing,
    $close-icon-spacing-big: $tab-close-icon-spacing-big
);
