$menuitem-active-background-color: dynamic($base-highlight-color);
$menuitem-active-color: dynamic($light-color);
$menuitem-height: dynamic(32px);
$menuitem-height-big: dynamic(44px);
$menuitem-icon-color: dynamic($neutral-dark-color);
