$tooltip-body-background-color: dynamic($background-color);
$tooltip-body-color: dynamic($color);
$tooltip-border-color: dynamic($panel-border-color);
$tooltip-body-padding: dynamic(8px);
$tooltip-header-padding: dynamic(8px 8px 3px);
$tooltip-header-padding-big: dynamic(10px 10px 3px);
$tooltip-tool-color: dynamic(null);
$tooltip-anchor-height: dynamic(9px);
$tooltip-tool-focused-outline-color: dynamic($base-color);
