/** @class Ext.slider.Multi */
//

$horizontal-slider-thumb-width: dynamic(14px);
$vertical-slider-thumb-height: dynamic(14px);

$slider-outline-width-focus: dynamic(1px);
$slider-outline-style-focus: dynamic(dotted);
$slider-outline-color-focus: dynamic(#333);
