$headercontainer-border-width: dynamic(0 0 2px);
$headercontainer-border-style: dynamic(solid);
$headercontainer-border-color: dynamic($neutral-color);
$headercontainer-background-color: dynamic(#fff);
