$gridcolumn-color: dynamic($color);
$gridcolumn-resizer-background-color: dynamic($neutral-light-color);
$gridcolumn-sort-icon-color: dynamic($neutral-dark-color);
$gridcolumn-hovered-background-color: dynamic($gridcolumn-background-color);
$gridcolumn-line-height: dynamic(16px);
$gridcolumn-padding: dynamic(8px 10px);
$gridcolumn-line-height-big: dynamic(20px);
$gridcolumn-padding-big: dynamic(12px 16px);
$gridcolumn-trigger-icon-color: dynamic($neutral-dark-color);
