/**
 * @class Ext.grid.cell.Tree
 */

@include treecell-ui(
    $color: $treecell-color,
    $hovered-color: $treecell-hovered-color,
    $selected-color: $treecell-selected-color,
    $pressed-color: $treecell-pressed-color,
    $background-color: $treecell-background-color,
    $hovered-background-color: $treecell-hovered-background-color,
    $selected-background-color: $treecell-selected-background-color,
    $pressed-background-color: $treecell-pressed-background-color,
    $column-border-width: $treecell-column-border-width,
    $column-border-style: $treecell-column-border-style,
    $column-border-color: $treecell-column-border-color,
    $focused-outline-width: $treecell-focused-outline-width,
    $focused-outline-style: $treecell-focused-outline-style,
    $focused-outline-color: $treecell-focused-outline-color,
    $focused-outline-offset: $treecell-focused-outline-offset,
    $font-weight: $treecell-font-weight,
    $font-size: $treecell-font-size,
    $font-size-big: $treecell-font-size-big,
    $line-height: $treecell-line-height,
    $line-height-big: $treecell-line-height-big,
    $font-family: $treecell-font-family,
    $padding: $treecell-padding,
    $padding-big: $treecell-padding-big,
    $icon-color: $treecell-icon-color,
    $icon-size: $treecell-icon-size,
    $icon-size-big: $treecell-icon-size-big,
    $icon-font-size: $treecell-icon-font-size,
    $icon-font-size-big: $treecell-icon-font-size-big,
    $icon-margin: $treecell-icon-margin,
    $icon-margin-big: $treecell-icon-margin-big,
    $collapsed-icon: $treecell-collapsed-icon,
    $expanded-icon: $treecell-expanded-icon,
    $leaf-icon: $treecell-leaf-icon,
    $expander-icon: $treecell-expander-icon,
    $expander-expanded-icon: $treecell-expander-expanded-icon,
    $expander-color: $treecell-expander-color,
    $expander-size: $treecell-expander-size,
    $expander-size-big: $treecell-expander-size-big,
    $expander-font-size: $treecell-expander-font-size,
    $expander-font-size-big: $treecell-expander-font-size-big
);