$grid-column-header-color: dynamic(#fff);

$grid-column-header-focus-color: dynamic(#000);
$grid-column-header-focus-background-color: dynamic($orange);

$grid-column-header-focus-border-width: dynamic(0px);
