$pullrefreshbar-min-height: dynamic(64px);
$pullrefreshbar-min-height-big: dynamic(64px);
$pullrefreshbar-border-radius: dynamic(50%);

$pullrefreshbar-arrow-width: dynamic(null);
$pullrefreshbar-arrow-icon: dynamic('get_app' 180);

//$pullrefreshbar-text-margin: dynamic(null);

$pullrefreshbar-spinner-font-size: dynamic(150%);
$pullrefreshbar-spinner-padding: dynamic(null);
$pullrefreshbar-spinner-background-color: dynamic($background-color);
$pullrefreshbar-spinner-border-radius: dynamic(50%);
