.#{$prefix}menucheckitem {
    .#{$prefix}checkbox-el {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        opacity: 0;
    }
}