.#{$prefix}field {
    // Fields can be nested using containerfield so be careful not to select container items here

    > * > * > .#{$prefix}box-wrap-el,
    > * > * > * > .#{$prefix}box-el {
        display: flex;
        align-items: center;
    }

    &.#{$prefix}box-label-align-before > * > * > .#{$prefix}box-wrap-el {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    > * > * > * > .#{$prefix}box-label-el {
        display: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.#{$prefix}box-labeled > * > * > * > .#{$prefix}box-label-el {
        display: block;
    }
}
