.#{$prefix}input {
    position: relative;

    .#{$prefix}input-el {
        display: block;
        border-width: 0;
        -webkit-appearance: none;
    }

    .#{$prefix}mask-el {
        @include absolute-fit();
    }
}