// toolbar inputs inside a panel header
.#{$prefix}panelheader {
    .#{$prefix}field {
        background-color: transparent;
        border-bottom-color: $reverse-disabled-color;

        .#{$prefix}label-el {
            color: $accent-color;
        }

        &.#{$prefix}focused {
            border-bottom-color: $accent-color;
        }
    }

    .#{$prefix}input {
        .#{$prefix}cleartrigger .#{$prefix}icon-el {
            color: $base-foreground-color;
        }

        // Normal text inputs
        .#{$prefix}input-el {
            -webkit-text-fill-color: $base-foreground-color;
        }
    }

    //Toggle Buttons in toolbars
    .#{$prefix}toggleslider.#{$prefix}on {
        background-color: $accent-pressed-color;

        .#{$prefix}thumb {
            &:after {
                background-color: $accent-color;
            }
        }
    }
}