$expandercell-icon-size: dynamic(18px);
$expandercell-icon-size-big: dynamic(24px);
$expandercell-expand-icon: dynamic('expand_more', 'Material Icons');
$expandercell-collapse-icon: dynamic('expand_less', 'Material Icons');
$expandercell-icon-color: dynamic($neutral-dark-color);