$treecell-expander-icon: dynamic('chevron_right');
$treecell-expander-expanded-icon: dynamic('expand_more');
$treecell-expander-color: dynamic($neutral-dark-color);
$treecell-icon-color: dynamic($neutral-dark-color);
$treecell-icon-size: dynamic(18px);
$treecell-icon-size-big: dynamic(24px);
$treecell-collapsed-icon: dynamic('folder');
$treecell-expanded-icon: dynamic('folder_open');
$treecell-leaf-icon: dynamic('insert_drive_file');