@include dialog-ui(
    $background-color: $dialog-background-color,
    $border-color: $dialog-border-color,
    $border-width: $dialog-border-width,
    $border-style: $dialog-border-style,
    $border-radius: $dialog-border-radius,
    $border-radius-big: $dialog-border-radius-big,
    $body-background-color: $dialog-body-background-color,
    $body-color: $dialog-body-color,
    $body-border-color: $dialog-body-border-color,
    $body-border-width: $dialog-body-border-width,
    $body-border-style: $dialog-body-border-style,
    $body-font-weight: $dialog-body-font-weight,
    $body-font-size: $dialog-body-font-size,
    $body-font-size-big: $dialog-body-font-size-big,
    $body-line-height: $dialog-body-line-height,
    $body-line-height-big: $dialog-body-line-height-big,
    $body-font-family: $dialog-body-font-family,
    $body-padding: $dialog-body-padding,
    $body-padding-big: $dialog-body-padding-big,
    $header-background-color: $dialog-header-background-color,
    $header-background-gradient: $dialog-header-background-gradient,
    $header-color: $dialog-header-color,
    $header-border-color: $dialog-header-border-color,
    $header-border-width: $dialog-header-border-width,
    $header-border-style: $dialog-header-border-style,
    $header-font-weight: $dialog-header-font-weight,
    $header-font-size: $dialog-header-font-size,
    $header-font-size-big: $dialog-header-font-size-big,
    $header-line-height: $dialog-header-line-height,
    $header-line-height-big: $dialog-header-line-height-big,
    $header-font-family: $dialog-header-font-family,
    $header-padding: $dialog-header-padding,
    $header-padding-big: $dialog-header-padding-big,
    $header-title-padding: $dialog-header-title-padding,
    $header-title-padding-big: $dialog-header-title-padding-big,
    $header-title-opacity: $dialog-header-title-opacity,
    $header-shadow: $dialog-header-shadow,
    $header-z-index: $dialog-header-z-index,
    $header-min-height: $dialog-header-min-height,
    $header-min-height-big: $dialog-header-min-height-big,
    $header-icon-color: $dialog-header-icon-color,
    $header-icon-size: $dialog-header-icon-size,
    $header-icon-size-big: $dialog-header-icon-size-big,
    $header-icon-font-size: $dialog-header-icon-font-size,
    $header-icon-font-size-big: $dialog-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $dialog-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $dialog-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $dialog-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $dialog-header-icon-vertical-spacing-big,
    $header-icon-opacity: $dialog-header-icon-opacity,
    $tool-color: $dialog-tool-color,
    $tool-hovered-color: $dialog-tool-hovered-color,
    $tool-pressed-color: $dialog-tool-pressed-color,
    $tool-disabled-color: $dialog-tool-disabled-color,
    $tool-background-color: $dialog-tool-background-color,
    $tool-hovered-background-color: $dialog-tool-hovered-background-color,
    $tool-pressed-background-color: $dialog-tool-pressed-background-color,
    $tool-disabled-background-color: $dialog-tool-disabled-background-color,
    $tool-opacity: $dialog-tool-opacity,
    $tool-hovered-opacity: $dialog-tool-hovered-opacity,
    $tool-pressed-opacity: $dialog-tool-pressed-opacity,
    $tool-disabled-opacity: $dialog-tool-disabled-opacity,
    $tool-border-radius: $dialog-tool-border-radius,
    $tool-border-radius-big: $dialog-tool-border-radius-big,
    $tool-size: $dialog-tool-size,
    $tool-size-big: $dialog-tool-size-big,
    $tool-font-size: $dialog-tool-font-size,
    $tool-font-size-big: $dialog-tool-font-size-big,
    $tool-spacing: $dialog-tool-spacing,
    $tool-spacing-big: $dialog-tool-spacing-big,
    $tool-cursor: $dialog-tool-cursor,
    $tool-disabled-cursor: $dialog-tool-disabled-cursor,
    $tool-focused-outline-width: $dialog-tool-focused-outline-width,
    $tool-focused-outline-style: $dialog-tool-focused-outline-style,
    $tool-focused-outline-color: $dialog-tool-focused-outline-color,
    $tool-focused-outline-offset: $dialog-tool-focused-outline-offset,
    $anchor-border-color: $dialog-anchor-border-color,
    $anchor-background-color: $dialog-anchor-background-color,
    $anchor-width: $dialog-anchor-width,
    $anchor-height: $dialog-anchor-height,
    $anchor-margin: $dialog-anchor-margin,
    $min-width: $dialog-min-width,
    $min-width-big: $dialog-min-width-big,
    $manage-borders: $dialog-manage-borders
);
