@include messagebox-ui(
    $border-color: $messagebox-border-color,
    $border-width: $messagebox-border-width,
    $border-style: $messagebox-border-style,
    $border-radius: $messagebox-border-radius,
    $border-radius-big: $messagebox-border-radius-big,
    $body-background-color: $messagebox-body-background-color,
    $body-color: $messagebox-body-color,
    $body-border-color: $messagebox-body-border-color,
    $body-border-width: $messagebox-body-border-width,
    $body-border-style: $messagebox-body-border-style,
    $body-font-weight: $messagebox-body-font-weight,
    $body-font-size: $messagebox-body-font-size,
    $body-font-size-big: $messagebox-body-font-size-big,
    $body-line-height: $messagebox-body-line-height,
    $body-line-height-big: $messagebox-body-line-height-big,
    $body-font-family: $messagebox-body-font-family,
    $body-padding: $messagebox-body-padding,
    $body-padding-big: $messagebox-body-padding-big,
    $header-background-color: $messagebox-header-background-color,
    $header-background-gradient: $messagebox-header-background-gradient,
    $header-color: $messagebox-header-color,
    $header-border-color: $messagebox-header-border-color,
    $header-border-width: $messagebox-header-border-width,
    $header-border-style: $messagebox-header-border-style,
    $header-font-weight: $messagebox-header-font-weight,
    $header-font-size: $messagebox-header-font-size,
    $header-font-size-big: $messagebox-header-font-size-big,
    $header-line-height: $messagebox-header-line-height,
    $header-line-height-big: $messagebox-header-line-height-big,
    $header-font-family: $messagebox-header-font-family,
    $header-padding: $messagebox-header-padding,
    $header-padding-big: $messagebox-header-padding-big,
    $header-title-padding: $messagebox-header-title-padding,
    $header-title-padding-big: $messagebox-header-title-padding-big,
    $header-title-opacity: $messagebox-header-title-opacity,
    $header-shadow: $messagebox-header-shadow,
    $header-z-index: $messagebox-header-z-index,
    $header-min-height: $messagebox-header-min-height,
    $header-min-height-big: $messagebox-header-min-height-big,
    $header-icon-color: $messagebox-header-icon-color,
    $header-icon-size: $messagebox-header-icon-size,
    $header-icon-size-big: $messagebox-header-icon-size-big,
    $header-icon-font-size: $messagebox-header-icon-font-size,
    $header-icon-font-size-big: $messagebox-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $messagebox-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $messagebox-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $messagebox-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $messagebox-header-icon-vertical-spacing-big,
    $header-icon-opacity: $messagebox-header-icon-opacity,
    $tool-color: $messagebox-tool-color,
    $tool-hovered-color: $messagebox-tool-hovered-color,
    $tool-pressed-color: $messagebox-tool-pressed-color,
    $tool-disabled-color: $messagebox-tool-disabled-color,
    $tool-background-color: $messagebox-tool-background-color,
    $tool-hovered-background-color: $messagebox-tool-hovered-background-color,
    $tool-pressed-background-color: $messagebox-tool-pressed-background-color,
    $tool-disabled-background-color: $messagebox-tool-disabled-background-color,
    $tool-opacity: $messagebox-tool-opacity,
    $tool-hovered-opacity: $messagebox-tool-hovered-opacity,
    $tool-pressed-opacity: $messagebox-tool-pressed-opacity,
    $tool-disabled-opacity: $messagebox-tool-disabled-opacity,
    $tool-border-radius: $messagebox-tool-border-radius,
    $tool-border-radius-big: $messagebox-tool-border-radius-big,
    $tool-size: $messagebox-tool-size,
    $tool-size-big: $messagebox-tool-size-big,
    $tool-font-size: $messagebox-tool-font-size,
    $tool-font-size-big: $messagebox-tool-font-size-big,
    $tool-spacing: $messagebox-tool-spacing,
    $tool-spacing-big: $messagebox-tool-spacing-big,
    $tool-cursor: $messagebox-tool-cursor,
    $tool-disabled-cursor: $messagebox-tool-disabled-cursor,
    $tool-focused-outline-width: $messagebox-tool-focused-outline-width,
    $tool-focused-outline-style: $messagebox-tool-focused-outline-style,
    $tool-focused-outline-color: $messagebox-tool-focused-outline-color,
    $tool-focused-outline-offset: $messagebox-tool-focused-outline-offset,
    $anchor-border-color: $messagebox-anchor-border-color,
    $anchor-background-color: $messagebox-anchor-background-color,
    $anchor-width: $messagebox-anchor-width,
    $anchor-height: $messagebox-anchor-height,
    $anchor-margin: $messagebox-anchor-margin,
    $min-width: $messagebox-min-width,
    $min-width-big: $messagebox-min-width-big,
    $manage-borders: $messagebox-manage-borders
);
