@include panel-ui(
    $background-color: $panel-background-color,
    $border-color: $panel-border-color,
    $border-width: $panel-border-width,
    $border-style: $panel-border-style,
    $border-radius: $panel-border-radius,
    $border-radius-big: $panel-border-radius-big,
    $body-background-color: $panel-body-background-color,
    $body-color: $panel-body-color,
    $body-border-color: $panel-body-border-color,
    $body-border-width: $panel-body-border-width,
    $body-border-style: $panel-body-border-style,
    $body-font-weight: $panel-body-font-weight,
    $body-font-size: $panel-body-font-size,
    $body-font-size-big: $panel-body-font-size-big,
    $body-line-height: $panel-body-line-height,
    $body-line-height-big: $panel-body-line-height-big,
    $body-font-family: $panel-body-font-family,
    $body-padding: $panel-body-padding,
    $body-padding-big: $panel-body-padding-big,
    $header-background-color: $panel-header-background-color,
    $header-background-gradient: $panel-header-background-gradient,
    $header-color: $panel-header-color,
    $header-border-color: $panel-header-border-color,
    $header-border-width: $panel-header-border-width,
    $header-border-style: $panel-header-border-style,
    $header-font-weight: $panel-header-font-weight,
    $header-font-size: $panel-header-font-size,
    $header-font-size-big: $panel-header-font-size-big,
    $header-line-height: $panel-header-line-height,
    $header-line-height-big: $panel-header-line-height-big,
    $header-font-family: $panel-header-font-family,
    $header-padding: $panel-header-padding,
    $header-padding-big: $panel-header-padding-big,
    $header-title-padding: $panel-header-title-padding,
    $header-title-padding-big: $panel-header-title-padding-big,
    $header-title-opacity: $panel-header-title-opacity,
    $header-shadow: $panel-header-shadow,
    $header-z-index: $panel-header-z-index,
    $header-min-height: $panel-header-min-height,
    $header-min-height-big: $panel-header-min-height-big,
    $header-icon-color: $panel-header-icon-color,
    $header-icon-size: $panel-header-icon-size,
    $header-icon-size-big: $panel-header-icon-size-big,
    $header-icon-font-size: $panel-header-icon-font-size,
    $header-icon-font-size-big: $panel-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $panel-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $panel-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $panel-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $panel-header-icon-vertical-spacing-big,
    $header-icon-opacity: $panel-header-icon-opacity,
    $tool-color: $panel-tool-color,
    $tool-hovered-color: $panel-tool-hovered-color,
    $tool-pressed-color: $panel-tool-pressed-color,
    $tool-disabled-color: $panel-tool-disabled-color,
    $tool-background-color: $panel-tool-background-color,
    $tool-hovered-background-color: $panel-tool-hovered-background-color,
    $tool-pressed-background-color: $panel-tool-pressed-background-color,
    $tool-disabled-background-color: $panel-tool-disabled-background-color,
    $tool-opacity: $panel-tool-opacity,
    $tool-hovered-opacity: $panel-tool-hovered-opacity,
    $tool-pressed-opacity: $panel-tool-pressed-opacity,
    $tool-disabled-opacity: $panel-tool-disabled-opacity,
    $tool-border-radius: $panel-tool-border-radius,
    $tool-border-radius-big: $panel-tool-border-radius-big,
    $tool-size: $panel-tool-size,
    $tool-size-big: $panel-tool-size-big,
    $tool-font-size: $panel-tool-font-size,
    $tool-font-size-big: $panel-tool-font-size-big,
    $tool-spacing: $panel-tool-spacing,
    $tool-spacing-big: $panel-tool-spacing-big,
    $tool-cursor: $panel-tool-cursor,
    $tool-disabled-cursor: $panel-tool-disabled-cursor,
    $tool-focused-outline-width: $panel-tool-focused-outline-width,
    $tool-focused-outline-style: $panel-tool-focused-outline-style,
    $tool-focused-outline-color: $panel-tool-focused-outline-color,
    $tool-focused-outline-offset: $panel-tool-focused-outline-offset,
    $anchor-border-color: $panel-anchor-border-color,
    $anchor-background-color: $panel-anchor-background-color,
    $anchor-width: $panel-anchor-width,
    $anchor-height: $panel-anchor-height,
    $anchor-margin: $panel-anchor-margin
);

@if $enable-default-uis {
    @if $panel-light-ui {
        @include panel-ui(map-merge((ui: light), $panel-light-ui)...);
    }
}
