@include panel-ui(
    $xtype: sheet,
    $border-color: $sheet-border-color,
    $body-border-color: $sheet-border-color,
    $body-background-color: $sheet-background-color,
    $body-padding: $sheet-padding,
    $manage-borders: false
);

.#{$prefix}sheet {
    border-color: $sheet-border-color;
    border-style: $sheet-border-style;

    @if $sheet-border-width == 0 {
        border-width: 0;
    } @else {
        &.#{$prefix}left {
            border-width: 0 right($sheet-border-width) 0 0;
        }

        &.#{$prefix}right {
            border-width: 0 0 0 left($sheet-border-width);
        }

        &.#{$prefix}top {
            border-width: 0 0 bottom($sheet-border-width);
        }

        &.#{$prefix}bottom {
            border-width: top($sheet-border-width) 0 0;
        }
    }
}

.#{$prefix}sheet-body-el.#{$prefix}vertical {
    > .#{$prefix}button {
        margin-bottom: $sheet-button-spacing;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

