@include titlebar-ui(
    $background-color: $titlebar-background-color,
    $background-gradient: $titlebar-background-gradient,
    $color: $titlebar-color,
    $border-color: $titlebar-border-color,
    $border-width: $titlebar-border-width,
    $border-style: $titlebar-border-style,
    $box-shadow: $titlebar-box-shadow,
    $font-weight: $titlebar-font-weight,
    $font-size: $titlebar-font-size,
    $font-size-big: $titlebar-font-size-big,
    $line-height: $titlebar-line-height,
    $line-height-big: $titlebar-line-height-big,
    $font-family: $titlebar-font-family,
    $padding: $titlebar-padding,
    $padding-big: $titlebar-padding-big,
    $horizontal-spacing: $titlebar-horizontal-spacing,
    $horizontal-spacing-big: $titlebar-horizontal-spacing-big,
    $vertical-spacing: $titlebar-vertical-spacing,
    $vertical-spacing-big: $titlebar-vertical-spacing-big,
    $title-color: $titlebar-title-color,
    $title-font-weight: $titlebar-title-font-weight,
    $title-font-size: $titlebar-title-font-size,
    $title-font-size-big: $titlebar-title-font-size-big,
    $title-font-family: $titlebar-title-font-family,
    $title-padding: $titlebar-title-padding,
    $title-padding-big: $titlebar-title-padding-big,
    $min-height: $titlebar-min-height,
    $min-height-big: $titlebar-min-height-big
);