@include toolbar-ui(
    $background-color: $toolbar-background-color,
    $background-gradient: $toolbar-background-gradient,
    $color: $toolbar-color,
    $border-color: $toolbar-border-color,
    $border-width: $toolbar-border-width,
    $border-style: $toolbar-border-style,
    $box-shadow: $toolbar-box-shadow,
    $font-weight: $toolbar-font-weight,
    $font-size: $toolbar-font-size,
    $font-size-big: $toolbar-font-size-big,
    $line-height: $toolbar-line-height,
    $line-height-big: $toolbar-line-height-big,
    $font-family: $toolbar-font-family,
    $padding: $toolbar-padding,
    $padding-big: $toolbar-padding-big,
    $horizontal-spacing: $toolbar-horizontal-spacing,
    $horizontal-spacing-big: $toolbar-horizontal-spacing-big,
    $vertical-spacing: $toolbar-vertical-spacing,
    $vertical-spacing-big: $toolbar-vertical-spacing-big,
    $title-color: $toolbar-title-color,
    $title-font-weight: $toolbar-title-font-weight,
    $title-font-size: $toolbar-title-font-size,
    $title-font-size-big: $toolbar-title-font-size-big,
    $title-font-family: $toolbar-title-font-family,
    $title-padding: $toolbar-title-padding,
    $title-padding-big: $toolbar-title-padding-big,
    $min-height: $toolbar-min-height,
    $min-height-big: $toolbar-min-height-big
);

@if $enable-default-uis {
    @if $toolbar-footer-ui {
        @include toolbar-ui(map-merge((ui: footer), $toolbar-footer-ui)...);
    }
}