@include tool-ui(
    $color: $tool-color,
    $hovered-color: $tool-hovered-color,
    $pressed-color: $tool-pressed-color,
    $disabled-color: $tool-disabled-color,
    $background-color: $tool-background-color,
    $hovered-background-color: $tool-hovered-background-color,
    $pressed-background-color: $tool-pressed-background-color,
    $disabled-background-color: $tool-disabled-background-color,
    $opacity: $tool-opacity,
    $hovered-opacity: $tool-hovered-opacity,
    $pressed-opacity: $tool-pressed-opacity,
    $disabled-opacity: $tool-disabled-opacity,
    $border-radius: $tool-border-radius,
    $size: $tool-size,
    $size-big: $tool-size-big,
    $width: $tool-width,
    $width-big: $tool-width-big,
    $height: $tool-height,
    $height-big: $tool-height-big,
    $margin: $tool-margin,
    $margin-big: $tool-margin-big,
    $font-size: $tool-font-size,
    $font-size-big: $tool-font-size-big,
    $spacing: $tool-spacing,
    $spacing-big: $tool-spacing-big,
    $cursor: $tool-cursor,
    $disabled-cursor: $tool-disabled-cursor,
    $focused-outline-width: $tool-focused-outline-width,
    $focused-outline-style: $tool-focused-outline-style,
    $focused-outline-color: $tool-focused-outline-color,
    $focused-outline-offset: $tool-focused-outline-offset
);

@if $enable-default-uis {
    @if $tool-itemheader-ui {
        @include tool-ui(map-merge((ui: itemheader), $tool-itemheader-ui)...);
    }

    @if $tool-rowheader-ui {
        @include tool-ui(map-merge((ui: rowheader), $tool-rowheader-ui)...);
    }

    @if $tool-listitem-ui {
        @include tool-ui(map-merge((ui: listitem), $tool-listitem-ui)...);
    }

    @if $tool-gridcell-ui {
        @include tool-ui(map-merge((ui: gridcell), $tool-gridcell-ui)...);
    }

    @if $tool-gridcolumn-ui {
        @include tool-ui(map-merge((ui: gridcolumn), $tool-gridcolumn-ui)...);
    }

    @if $tool-boxscroller-ui {
        @include tool-ui(map-merge((ui: boxscroller), $tool-boxscroller-ui)...);
    }

    @if $tool-boxscroller-toolbar-ui {
        @include tool-ui(map-merge((ui: boxscroller-toolbar), $tool-boxscroller-toolbar-ui)...);
    }

    @if $tool-boxscroller-menu-ui {
        @include tool-ui(map-merge((ui: boxscroller-menu), $tool-boxscroller-menu-ui)...);
    }

    @if $tool-boxscroller-tabbar-ui {
        @include tool-ui(map-merge((ui: boxscroller-tabbar), $tool-boxscroller-tabbar-ui)...);
    }
}

.#{$prefix}tool-type-close {
    @include icon($tool-close-icon);
}

.#{$prefix}tool-type-disclosure {
    @include icon($tool-disclosure-icon);
}

.#{$prefix}tool-type-minimize {
    @include icon($tool-minimize-icon);
}

.#{$prefix}tool-type-maximize {
    @include icon($tool-maximize-icon);
}

.#{$prefix}tool-type-restore {
    @include icon($tool-restore-icon);
}

.#{$prefix}tool-type-toggle {
    @include icon($tool-toggle-up-icon);

    .#{$prefix}panel-collapsed & {
        @include icon($tool-toggle-down-icon);
    }
}

.#{$prefix}tool-type-gear {
    @include icon($tool-gear-icon);
}

.#{$prefix}tool-type-prev {
    @include icon($tool-prev-icon);
}

.#{$prefix}tool-type-next {
    @include icon($tool-next-icon);
}

.#{$prefix}tool-type-pin {
    @include icon($tool-pin-icon);
}

.#{$prefix}tool-type-unpin {
    @include icon($tool-unpin-icon);
}

.#{$prefix}tool-type-right {
    @include icon($tool-right-icon);
}

.#{$prefix}tool-type-left {
    @include icon($tool-left-icon);
}

.#{$prefix}tool-type-down {
    @include icon($tool-down-icon);
}

.#{$prefix}tool-type-up {
    @include icon($tool-up-icon);
}

.#{$prefix}tool-type-refresh {
    @include icon($tool-refresh-icon);
}

.#{$prefix}tool-type-plus {
    @include icon($tool-plus-icon);
}

.#{$prefix}tool-type-menu {
    @include icon($tool-menu-icon);
}

.#{$prefix}tool-type-minus {
    @include icon($tool-minus-icon);
}

.#{$prefix}tool-type-search {
    @include icon($tool-search-icon);
}

.#{$prefix}tool-type-save {
    @include icon($tool-save-icon);
}

.#{$prefix}tool-type-help {
    @include icon($tool-help-icon);
}

.#{$prefix}tool-type-print {
    @include icon($tool-print-icon);
}

.#{$prefix}tool-type-expand {
    @include icon($tool-expand-icon);
}

.#{$prefix}tool-type-collapse {
    @include icon($tool-collapse-icon);
}

.#{$prefix}tool-type-resize {
    @include icon($tool-resize-icon);
}

.#{$prefix}tool-type-move {
    @include icon($tool-move-icon);
}

.#{$prefix}tool-type-expand-bottom {
    @include icon($tool-expand-bottom-icon);
}

.#{$prefix}tool-type-collapse-bottom {
    @include icon($tool-collapse-bottom-icon);
}

.#{$prefix}tool-type-expand-top {
    @include icon($tool-expand-top-icon);
}

.#{$prefix}tool-type-collapse-top {
    @include icon($tool-collapse-top-icon);
}

.#{$prefix}tool-type-expand-left {
    @include icon($tool-expand-left-icon);
}

.#{$prefix}tool-type-collapse-left {
    @include icon($tool-collapse-left-icon);
}

.#{$prefix}tool-type-expand-right {
    @include icon($tool-expand-right-icon);
}

.#{$prefix}tool-type-collapse-right {
    @include icon($tool-collapse-right-icon);
}

.#{$prefix}tool-type-scroll-right {
    @include icon($tool-scroll-right-icon);
}

.#{$prefix}tool-type-scroll-left {
    @include icon($tool-scroll-left-icon);
}

.#{$prefix}tool-type-scroll-down {
    @include icon($tool-scroll-down-icon);
}

.#{$prefix}tool-type-scroll-up {
    @include icon($tool-scroll-up-icon);
}