$dataview-item-background-color: dynamic($background-color);
$dataview-item-hovered-background-color: dynamic($hovered-background-color);
$dataview-item-selected-color: dynamic($color);
$dataview-item-selected-background-color: dynamic($selected-background-color);
$dataview-item-pressed-color: dynamic($dataview-item-selected-color);
$dataview-item-pressed-background-color: dynamic($dataview-item-selected-background-color);

$dataview-item-font-size: dynamic(13px);
$dataview-item-font-size-big: dynamic(14px);
$dataview-item-line-height: dynamic(16px);
$dataview-item-line-height-big: dynamic(20px);
$dataview-item-font-weight: dynamic(400);
