$indexbar-width: dynamic(32px);
$indexbar-horizontal-width: dynamic(100%);
$indexbar-background-color: dynamic(transparent);
$indexbar-color: dynamic($color);
$indexbar-margin: dynamic(null);
$indexbar-margin-big: dynamic(null);

$indexbar-pressed-background-color: dynamic(transparent);
$indexbar-pressed-opacity: dynamic(1);

$indexbar-font-size: dynamic(12px, 12px);
$indexbar-font-weight: dynamic(400);
$indexbar-font-family: dynamic($font-family);

$indexbar-indicator-width: dynamic(64px);
$indexbar-indicator-width-big: dynamic(92px);
$indexbar-indicator-height: dynamic($indexbar-indicator-width);
$indexbar-indicator-height-big: dynamic($indexbar-indicator-width-big);
$indexbar-indicator-spacing: dynamic(4px);
$indexbar-indicator-background-color: dynamic($base-color);
$indexbar-indicator-border-radius: dynamic(100%);
$indexbar-indicator-color: dynamic($reverse-color);
$indexbar-indicator-font-size: dynamic(14px);
$indexbar-indicator-font-size-big: dynamic(16px);
$indexbar-indicator-line-height: dynamic(25px);
$indexbar-indicator-line-height-big: dynamic(32px);
$indexbar-indicator-font-weight: dynamic(400);
$indexbar-indicator-font-weight-big: dynamic(null);
$indexbar-justify-items: dynamic(space-between);