$itemheader-color: dynamic($color);
$itemheader-background-color: dynamic($header-background-color);

$itemheader-border-width: dynamic(null);
$itemheader-border-style: dynamic(null);
$itemheader-border-color: dynamic(null);
