$button-default-background-gradient: dynamic(null);
$button-default-background-gradient-over: dynamic(null);
$button-default-background-gradient-pressed: dynamic(null);
$button-default-background-gradient-disabled: dynamic(null);
$button-toolbar-background-gradient: dynamic(null);
$button-toolbar-background-gradient-over: dynamic(null);
$button-toolbar-background-gradient-pressed: dynamic(null);
$button-toolbar-background-gradient-disabled: dynamic(null);

$button-default-border-color: dynamic($base-color);
$button-toolbar-border-color: dynamic($neutral-medium-dark-color);
