$menu-border-color: dynamic($divider-color);
$menu-border-radius: dynamic(2px);
$menu-body-padding: dynamic(8px 0);
$menu-body-padding-big: dynamic(16px 0);
$menu-icon-column-width: dynamic(48px);
$menu-icon-column-width-big: dynamic(64px);
$menu-text-spacing: dynamic(16px);
$menu-text-spacing-big: dynamic(16px);

