/**
 * @class Ext.grid.RowHeader
 */

//# fashion replaces $grid-group-header-color
/**
 * @var {color}
 * Grid RowHeader color
 */
$rowheader-color: dynamic(null);

/**
 * @var {color}
 * Grid RowHeader color when {@link Ext.grid.Grid#pinHeaders pinned}
 */
$rowheader-pinned-color: dynamic(null);

//# fashion replaces $grid-group-header-background-color
/**
 * @var {color}
 * Grid RowHeader background-color
 */
$rowheader-background-color: dynamic(null);

/**
 * @var {color}
 * Grid RowHeader background-color when {@link Ext.grid.Grid#pinHeaders pinned}
 */
$rowheader-pinned-background-color: dynamic(null);

/**
 * @var {number/list}
 * Grid RowHeader border-width
 */
$rowheader-border-width: dynamic(null);

/**
 * @var {string}
 * Grid RowHeader border-style
 */
$rowheader-border-style: dynamic(null);

//# fashion replaces $grid-group-header-border-color
/**
 * @var {color}
 * Grid RowHeader border-color
 */
$rowheader-border-color: dynamic(null);

/**
 * @var {color}
 * Grid RowHeader border-color when {@link Ext.grid.Grid#pinHeaders pinned}
 */
$rowheader-pinned-border-color: dynamic(null);

/**
 * @var {number}
 * Grid RowHeader outline-width when focused
 */
$rowheader-focused-outline-width: dynamic(null);

/**
 * @var {string}
 * Grid RowHeader outline-style when focused
 */
$rowheader-focused-outline-style: dynamic(null);

/**
 * @var {color}
 * Grid RowHeader outline-color when focused
 */
$rowheader-focused-outline-color: dynamic(null);

/**
 * @var {number}
 * Grid RowHeader outline-offset when focused
 */
$rowheader-focused-outline-offset: dynamic(null);

/**
 * @var {list}
 * Grid RowHeader box-shadow
 */
$rowheader-box-shadow: dynamic(null);

/**
 * @var {list}
 * Grid RowHeader box-shadow when {@link Ext.grid.Grid#pinHeaders pinned}
 */
$rowheader-pinned-box-shadow: dynamic(null);

/**
 * @var {list}
 * Grid RowHeader box-shadow when {@link Ext.grid.Grid#pinFooters pinned} to the bottom
 */
$rowheader-pinned-bottom-box-shadow: dynamic(null);

//# fashion replaces $grid-group-header-font-weight
/**
 * @var {string/number}
 * Grid RowHeader font-weight
 */
$rowheader-font-weight: dynamic(null);

//# fashion replaces $grid-group-header-font-size
/**
 * @var {number}
 * Grid RowHeader font-size
 */
$rowheader-font-size: dynamic(null);

//# fashion replaces $grid-group-header-font-size-big
/**
 * @var {number}
 * Grid RowHeader font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$rowheader-font-size-big: dynamic(null);

//# fashion replaces $grid-group-header-line-height
/**
 * @var {number}
 * Grid RowHeader line-height
 */
$rowheader-line-height: dynamic(null);

//# fashion replaces $grid-group-header-line-height-big
/**
 * @var {number}
 * Grid RowHeader line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$rowheader-line-height-big: dynamic(null);

//# fashion replaces $grid-group-header-font-family
/**
 * @var {string}
 * Grid RowHeader font-family
 */
$rowheader-font-family: dynamic(null);

//# fashion replaces $grid-group-header-padding
/**
 * @var {number/list}
 * Grid RowHeader padding
 */
$rowheader-padding: dynamic(null);

//# fashion replaces $grid-group-header-padding-big
/**
 * @var {number/list}
 * Grid RowHeader padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$rowheader-padding-big: dynamic(null);

/**
 * Creates a visual theme for a Grid RowHeader.
 *
 * @param {string} $ui
 * The name of the UI being created. Can not included spaces or special punctuation
 * (used in CSS class names).
 *
 * @param {String} [$xtype=rowheader] (protected) The {@link Ext.Class#xtype} to use
 * in CSS selectors.  For use by UI mixins of derived classes.
 *
 * @param {color} $color
 * Grid RowHeader color
 *
 * @param {color} $pinned-color
 * Grid RowHeader color when {@link Ext.grid.Grid#pinHeaders pinned}
 *
 * @param {color} $background-color
 * Grid RowHeader background-color
 *
 * @param {color} $pinned-background-color
 * Grid RowHeader background-color when {@link Ext.grid.Grid#pinHeaders pinned}
 *
 * @param {number/list} $border-width
 * Grid RowHeader border-width
 *
 * @param {string} $border-style
 * Grid RowHeader border-style
 *
 * @param {color} $border-color
 * Grid RowHeader border-color
 *
 * @param {color} $pinned-border-color
 * Grid RowHeader border-color when {@link Ext.grid.Grid#pinHeaders pinned}
 *
 * @param {number} $focused-outline-width
 * Grid RowHeader outline-width when focused
 *
 * @param {string} $focused-outline-style
 * Grid RowHeader outline-style when focused
 *
 * @param {color} $focused-outline-color
 * Grid RowHeader outline-color when focused
 *
 * @param {number} $focused-outline-offset
 * Grid RowHeader outline-offset when focused
 *
 * @param {list} $box-shadow
 * Grid RowHeader box-shadow
 *
 * @param {list} $pinned-box-shadow
 * Grid RowHeader box-shadow when {@link Ext.grid.Grid#pinHeaders pinned}
 *
 * @param {list} $pinned-bottom-box-shadow
 * Grid RowHeader box-shadow when {@link Ext.grid.Grid#pinFooters pinned} to the bottom
 *
 * @param {string/number} $font-weight
 * Grid RowHeader font-weight
 *
 * @param {number} $font-size
 * Grid RowHeader font-size
 *
 * @param {number} $font-size-big
 * Grid RowHeader font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $line-height
 * Grid RowHeader line-height
 *
 * @param {number} $line-height-big
 * Grid RowHeader line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {string} $font-family
 * Grid RowHeader font-family
 *
 * @param {number/list} $padding
 * Grid RowHeader padding
 *
 * @param {number/list} $padding-big
 * Grid RowHeader padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
@mixin rowheader-ui(
    $ui: null,
    $xtype: rowheader,
    $color: null,
    $pinned-color: null,
    $background-color: null,
    $pinned-background-color: null,
    $border-width: null,
    $border-style: null,
    $border-color: null,
    $pinned-border-color: null,
    $focused-outline-width: null,
    $focused-outline-style: null,
    $focused-outline-color: null,
    $focused-outline-offset: null,
    $box-shadow: null,
    $pinned-box-shadow: null,
    $pinned-bottom-box-shadow: null,
    $font-weight: null,
    $font-size: null,
    $font-size-big: null,
    $line-height: null,
    $line-height-big: null,
    $font-family: null,
    $padding: null,
    $padding-big: null
) {
    $arguments: intersect-arguments(rowheader-ui, itemheader-ui);

    @include itemheader-ui($arguments...);
}
