$toolbar-border-color: dynamic(#18181a);
$toolbar-background-color: dynamic(#3a3e4f);
$toolbar-footer-background-color: dynamic($toolbar-background-color);
$toolbar-text-color: dynamic(#fff);
$toolbar-separator-color: dynamic(#1b1b29);
$toolbar-separator-highlight-color: dynamic(#5d5d6e);
$toolbar-tool-background-image: dynamic('tools/tool-sprites');
