$radiofield-checkbox-font-size: dynamic(16px);
$radiofield-checkbox-font-size-big: dynamic(18px);
$radiofield-checkbox-icon: dynamic('radio_button_unchecked' $radiofield-checkbox-font-size);
$radiofield-checked-checkbox-icon: dynamic('radio_button_checked' $radiofield-checkbox-font-size);
