$spinnerfield-button-font-size: dynamic(14px);
$spinnerfield-button-font-size-big: dynamic(16px);
$spinnerfield-button-size: dynamic(20px);
$spinnerfield-button-size-big: dynamic(24px);
$spinnerfield-button-border-radius: dynamic(50%);
$spinnerfield-button-color: dynamic($reverse-color);

$spinnerfield-button-disabled-color: dynamic($reverse-color);
$spinnerfield-button-disabled-background-color: dynamic($disabled-color);

$spinnerfield-button-spacing: dynamic(8px);
