$textfield-input-background-color: dynamic(transparent);
$textfield-input-color: dynamic($color);
$textfield-disabled-input-color: dynamic($disabled-color);
$textfield-placeholder-color: dynamic($field-disabled-label-color);

$textfield-input-font-size: dynamic(13px);
$textfield-input-font-size-big: dynamic(16px);
$textfield-input-font-weight: dynamic(400);
$textfield-input-line-height: dynamic(16px);
$textfield-input-line-height-big: dynamic(20px);

$textfield-input-padding: dynamic(($content-padding / 4) 0);
$textfield-input-padding-big: dynamic(($content-padding / 2) 0);

$textfield-input-border-width: dynamic(null);
$textfield-input-border-style: dynamic(null);
$textfield-input-border-color: dynamic(null);
$textfield-input-underline-width: dynamic(1px);
$textfield-focused-input-underline-width: dynamic(2px);
$textfield-invalid-input-underline-width: dynamic(2px);
$textfield-input-underline-color: dynamic($divider-color);
$textfield-invalid-input-underline-color: dynamic($alert-color);
$textfield-focused-input-underline-color: dynamic($base-color);

$textfield-alt-ui: dynamic((
    input-background-color: rgba(255, 255, 255, .2),
    focused-input-background-color: rgba(255, 255, 255, .15),
    input-color: rgba(255, 255, 255, .6),
    focused-input-color: rgba(255, 255, 255, .6),
    input-padding: 7px 7px 7px 0,
    input-padding-big: 7px 7px 7px 0,
    input-border-width: 0,
    placeholder-color: rgba(255, 255, 255, .6),
    focused-placeholder-color: rgb(255, 255, 255),
    border-radius: 3px,
    input-underline-width: 0,
    focused-input-underline-width: 0,
    invalid-input-underline-width: 0
));

$textfield-faded-ui: dynamic((
    input-background-color: rgba(0, 0, 0, .1),
    focused-input-background-color: rgba(0, 0, 0, .15),
    input-color: rgba(0, 0, 0, .4),
    focused-input-color: rgba(0, 0, 0, .4),
    input-padding: 7px 7px 7px 0,
    input-padding-big: 7px 7px 7px 0,
    input-border-width: 0,
    placeholder-color: rgba(0, 0, 0, .4),
    focused-placeholder-color: #333,
    border-radius: 3px,
    input-underline-width: 0,
    focused-input-underline-width: 0,
    invalid-input-underline-width: 0
));

$textfield-solo-ui: dynamic((
    input-background-color: #FFFFFF,
    input-color: rgba(0, 0, 0, .4),
    focused-input-color: rgba(0, 0, 0, .4),
    input-padding: 10px 10px 10px 0,
    input-padding-big: 10px 10px 10px 0,
    input-border-width: 0,
    placeholder-color: rgba(0, 0, 0, .4),
    border-radius: 3px,
    input-underline-width: 0,
    focused-input-underline-width: 0,
    invalid-input-underline-width: 0
));
