$yearpicker-listitem-ui: dynamic((
    selected-color: $base-color,
    hovered-background-color: transparent,
    selected-background-color: transparent,
    font-size: 18px,
    selected-font-size: 26px
));