$tooltip-body-background-color: dynamic($background-color);
$tooltip-body-color: dynamic($color);
$tooltip-border-color: dynamic($panel-border-color);
$tooltip-body-padding: dynamic(8px);
$tooltip-body-padding-big: dynamic($tooltip-body-padding);
$tooltip-header-padding: dynamic(8px 8px 0 8px);
$tooltip-header-padding-big: dynamic($tooltip-header-padding);
$tooltip-tool-color: dynamic($color);
$tooltip-header-icon-color: dynamic($color);
