/**
 * @class Ext.dataview.EmptyText
 */

//# fashion replaces $dataview-empty-text-color
/**
 * @var {color}
 * EmptyText color
 */
$emptytext-color: dynamic($highlight-color);

//# fashion replaces $dataview-empty-text-font-weight
/**
 * @var {string/number}
 * EmptyText font-weight
 */
$emptytext-font-weight: dynamic($font-weight-normal);

//# fashion replaces $dataview-empty-text-font-size
/**
 * @var {number}
 * EmptyText font-size
 */
$emptytext-font-size: dynamic($font-size);

//# fashion replaces $dataview-empty-text-font-size-big
/**
 * @var {number}
 * EmptyText font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$emptytext-font-size-big: dynamic($font-size-big);

//# fashion replaces $dataview-empty-text-line-height
/**
 * @var {number}
 * EmptyText line-height
 */
$emptytext-line-height: dynamic(1.25);

//# fashion replaces $dataview-empty-text-line-height-big
/**
 * @var {number}
 * EmptyText in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$emptytext-line-height-big: dynamic(null);

//# fashion replaces $dataview-empty-text-font-family
/**
 * @var {string}
 * EmptyText font-family
 */
$emptytext-font-family: dynamic($font-family);

//# fashion replaces $dataview-empty-text-padding
/**
 * @var {number/list}
 * EmptyText padding
 */
$emptytext-padding: dynamic(10px);

//# fashion replaces $dataview-empty-text-padding-big
/**
 * @var {number/list}
 * EmptyText padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$emptytext-padding-big: dynamic(15px);

/**
 * Creates a visual theme for a DataView EmptyText component.
 *
 * @param {string} $ui
 * The name of the UI being created. Can not included spaces or special punctuation
 * (used in CSS class names).
 *
 * @param {String} [$xtype=emptytext] (protected) The {@link Ext.Class#xtype} to use
 * in CSS selectors.  For use by UI mixins of derived classes.
 *
 * @param {color} $color
 * EmptyText color
 *
 * @param {string/number} $font-weight
 * EmptyText font-weight
 *
 * @param {number} $font-size
 * EmptyText font-size
 *
 * @param {number} $font-size-big
 * EmptyText font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $line-height
 * EmptyText line-height
 *
 * @param {number} $line-height-big
 * EmptyText in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {string} $font-family
 * EmptyText font-family
 *
 * @param {number/list} $padding
 * EmptyText padding
 *
 * @param {number/list} $padding-big
 * EmptyText padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
@mixin emptytext-ui(
    $ui: null,
    $xtype: emptytext,
    $color: null,
    $font-weight: null,
    $font-size: null,
    $font-size-big: null,
    $line-height: null,
    $line-height-big: null,
    $font-family: null,
    $padding: null,
    $padding-big: null
) {
    $ui-suffix: ui-suffix($ui);

    .#{$prefix}#{$xtype}#{$ui-suffix} {
        color: $color;
        @include font($font-weight, $font-size, $line-height, $font-family);
        padding: $padding;

        @if $enable-big {
            .#{$prefix}big & {
                font-size: $font-size-big;
                line-height: $line-height-big;
                padding: $padding-big;
            }
        }
    }
}