$field-label-line-height: dynamic(17px);
$field-label-line-height-big: dynamic(20px);
$field-label-padding: dynamic(8px 10px 7px 0);
$field-label-padding-big: dynamic(12px 10px 12px 0);
$field-vertical-spacing: dynamic(10px);
$field-vertical-spacing-big: dynamic(10px);