$sliderfield-padding: dynamic(6px 0);
$sliderfield-padding-big: dynamic(7px 0);
$sliderfield-box-label-padding: dynamic(top($field-box-label-padding) right($field-box-label-padding) bottom($field-box-label-padding) 8px);
$sliderfield-box-label-padding-big: dynamic(top($field-box-label-padding-big) right($field-box-label-padding-big) bottom($field-box-label-padding-big) 10px);