$form-field-border-width: dynamic(2px);
$form-field-border-color: dynamic(#737b8c);
$form-field-background-color: dynamic(#34383f);
$form-field-color: dynamic(#fff);
$form-field-focus-border-color: dynamic(#ff9c33);
$form-field-invalid-background-color: dynamic(#15171A);
$form-field-invalid-border-color: dynamic(#C30);
$form-field-padding: dynamic(1px 6px 2px);
