$button-default-base-color: dynamic(#2a3142);
$button-default-border-color: dynamic(darken($button-default-base-color, 4%));
$button-default-base-color-over: dynamic($orange);
$button-default-border-color-over: dynamic(darken($orange, 15%));
$button-default-base-color-pressed: dynamic(#da7b19);
$button-default-border-color-pressed: dynamic(darken($button-default-base-color-pressed, 15%));
$button-default-color: dynamic(#fff);
$button-toolbar-border-color: dynamic($button-default-border-color);
$button-toolbar-border-color-over: dynamic($button-default-border-color-over);
$button-toolbar-border-color-pressed: dynamic($button-default-border-color-pressed);
$button-toolbar-background-color: dynamic($button-default-base-color);
$button-toolbar-background-color-over: dynamic($button-default-base-color-over);
$button-toolbar-background-color-pressed: dynamic($button-default-base-color-pressed);
$button-toolbar-color: dynamic($button-default-color);
$button-default-border-color-focus: dynamic($orange);
$button-toolbar-border-color-focus: dynamic($orange);
