.#{$prefix}dataview.#{$prefix}inline {
    .#{$prefix}dataview-item, .#{$prefix}dataitem {
        display: inline-block;
        vertical-align: top;
    }
}

.#{$prefix}dataview.#{$prefix}nowrap {
    .#{$prefix}body-el {
        white-space: nowrap !important;
    }
}
