.#{$prefix}indexbar {
    pointer-events: none;
    position: relative;

    > .#{$prefix}body-el {
        cursor: pointer;
        display: flex;
        pointer-events: auto;
        position: absolute;
        transition: .4s opacity;

        right: 0;
        bottom: 0;

        &.#{$prefix}horizontal {
            flex-direction: row;
            left: 0;
        }

        &.#{$prefix}vertical {
            flex-direction: column;
            top: 0;
        }
    }
}

.#{$prefix}indexbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.#{$prefix}indexbar-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
