.#{$prefix}itemheader {
    width: 100%;
    z-index: 5;

    &.#{$prefix}focused:not(.#{$prefix}pinned) {
        .#{$prefix}keyboard-mode & {
            z-index: 10;
        }
    }

    &.#{$prefix}pinned {
        z-index: 20;
    }

    > .#{$prefix}body-el,
    > .#{$prefix}tool-dock {
        min-width: 100%;
    }
}