.#{$prefix}list {
    overflow: hidden;

    .#{$prefix}list-body-el {
        width: 100% !important;
        display: flex;
        flex-direction: column;  // vbox
    }

    .#{$prefix}list-outer-ct {
        flex: 1 1 auto;
        position: relative;
        width: 100%;

        // We set this in order to lower it and its sub-tree below any positioned
        // items that we might add to the List.
        z-index: 0;
    }

    .#{$prefix}list-inner-ct {
        // need this so that items w/width:100% size to this el's width
        position: relative;
        min-width: 100%;
    }
}

.#{$prefix}list-inner-ct.#{$prefix}infinite > * {
    position: absolute;
    width: 100%;
}

.#{$prefix}list.#{$prefix}inline .#{$prefix}listitem {
    display: inline-block;
}

.#{$prefix}list.#{$prefix}nowrap .#{$prefix}listitem {
    white-space: nowrap;
}
