$tabbar-padding: dynamic(0);
$tabbar-padding-big: dynamic(null);
$tabbar-horizontal-spacing: dynamic(null);
$tabbar-vertical-spacing: dynamic(null);
$tabbar-strip-height: dynamic(null);
$tabbar-strip-height-big: dynamic(null);