$tab-background-color: dynamic($base-color);
$tab-hovered-background-color: dynamic($tab-background-color);
$tab-pressed-background-color: dynamic($tab-background-color);
$tab-active-background-color: dynamic($tab-background-color);
$tab-focused-background-color: dynamic($tab-background-color);

$tab-background-gradient: dynamic(none);
$tab-hovered-background-gradient: dynamic(none);
$tab-pressed-background-gradient: dynamic(none);
$tab-active-background-gradient: dynamic(none);
$tab-focused-background-gradient: dynamic(none);

$tab-color: dynamic(rgba($base-foreground-color, .7));
$tab-hovered-color: dynamic($tab-color);
$tab-pressed-color: dynamic($tab-color);
$tab-active-color: dynamic(rgba($tab-color, 1));
$tab-focused-color: dynamic($tab-color);

$tab-focused-outline-color: dynamic(null);
$tab-focused-outline-style: dynamic(null);
$tab-focused-outline-width: dynamic(null);
$tab-focused-outline-offset: dynamic(null);

$tab-border-color: dynamic(null);
$tab-hovered-border-color: dynamic(null);
$tab-pressed-border-color: dynamic(null);
$tab-active-border-color: dynamic(null);
$tab-focused-border-color: dynamic(null);
$tab-border-width: dynamic(0);
$tab-border-style: dynamic(null);
$tab-border-radius: dynamic(0);
$tab-border-radius-big: dynamic(0);

$tab-font-size: dynamic(14px);
$tab-font-size-big: dynamic(14px);
$tab-font-weight: dynamic(600);
$tab-line-height: dynamic(16px);
$tab-line-height-big: dynamic(24px);
$tab-padding: dynamic(16px 6px);
$tab-padding-big: dynamic(20px 4px);
$tab-icon-horizontal-spacing: dynamic($content-padding/4);
$tab-icon-horizontal-spacing-big: dynamic($content-padding/4);
$tab-icon-vertical-spacing: dynamic(6px);
$tab-icon-vertical-spacing-big: dynamic(8px);
$tab-disabled-opacity: dynamic(1);
$tab-badge-background-color: dynamic($accent-color);
$tab-badge-background-gradient: dynamic(null);
$tab-badge-color: dynamic($accent-foreground-color);
$tab-badge-border-color: dynamic(transparent);
$tab-badge-border-radius: dynamic($content-padding * 2);
$tab-badge-font-size: dynamic(12px);
$tab-badge-font-size-big: dynamic(13px);
$tab-badge-font-weight: dynamic(400);
$tab-badge-line-height: dynamic(16px);
$tab-badge-line-height-big: dynamic(16px);
$tab-badge-top: dynamic(2px);
$tab-badge-right: dynamic(4px);
$tab-badge-left: dynamic(null);
$tab-badge-padding: dynamic($content-padding/4);
$tab-badge-padding-big: dynamic($tab-badge-padding);
$tab-badge-min-width: dynamic($tab-badge-line-height + horizontal($tab-badge-padding));
$tab-badge-min-width-big: dynamic($tab-badge-line-height-big + horizontal($tab-badge-padding-big));
$tab-badge-max-width: dynamic(75%);

$tab-active-indicator-background-color: dynamic($accent-light-color);
$tab-active-indicator-height: dynamic($content-padding / 4);

$tab-close-icon: dynamic('clear');
$tab-close-icon-font-size: dynamic(18px);
$tab-close-icon-font-weight: bold;
$tab-close-icon-margin: dynamic(7px 7px);
$tab-close-icon-spacing: dynamic(null);
$tab-close-icon-spacing-big: dynamic(null);

$tab-close-icon-color: dynamic(rgba($base-foreground-color, .7));
$tab-close-icon-hovered-color: dynamic($base-foreground-color);

$tab-close-icon-background-color: dynamic(null);
$tab-close-icon-hovered-background-color: dynamic(null);
$tab-close-icon-pressed-background-color: dynamic(null);

