@include checkboxfield-ui(
    $checkbox-size: $checkboxfield-checkbox-size,
    $checkbox-size-big: $checkboxfield-checkbox-size-big,
    $checkbox-font-size: $checkboxfield-checkbox-font-size,
    $checkbox-font-size-big: $checkboxfield-checkbox-font-size-big,
    $checkbox-margin: $checkboxfield-checkbox-margin,
    $checkbox-margin-big: $checkboxfield-checkbox-margin-big,
    $checkbox-icon: $checkboxfield-checkbox-icon,
    $checked-checkbox-icon: $checkboxfield-checked-checkbox-icon,
    $checkbox-color: $checkboxfield-checkbox-color,
    $checked-checkbox-color: $checkboxfield-checked-checkbox-color,
    $disabled-checkbox-color: $checkboxfield-disabled-checkbox-color,
    $focused-checkbox-color: $checkboxfield-focused-checkbox-color,
    $box-label-color: $checkboxfield-box-label-color,
    $box-label-font-weight: $checkboxfield-box-label-font-weight,
    $box-label-font-size: $checkboxfield-box-label-font-size,
    $box-label-font-size-big: $checkboxfield-box-label-font-size-big,
    $box-label-line-height: $checkboxfield-box-label-line-height,
    $box-label-line-height-big: $checkboxfield-box-label-line-height-big,
    $box-label-font-family: $checkboxfield-box-label-font-family,
    $box-label-padding: $checkboxfield-box-label-padding,
    $box-label-padding-big: $checkboxfield-box-label-padding-big
);