@include displayfield-ui(
    $input-color: $displayfield-input-color,
    $input-border-width: $displayfield-input-border-width,
    $input-border-style: $displayfield-input-border-style,
    $input-border-color: $displayfield-input-border-color,
    $input-background-color: $displayfield-input-background-color,
    $input-padding: $displayfield-input-padding,
    $input-padding-big: $displayfield-input-padding-big,
    $input-font-weight: $displayfield-input-font-weight,
    $input-font-size: $displayfield-input-font-size,
    $input-font-size-big: $displayfield-input-font-size-big,
    $input-line-height: $displayfield-input-line-height,
    $input-line-height-big: $displayfield-input-line-height-big,
    $input-font-family: $displayfield-input-font-family,
    $input-border-radius: $displayfield-input-border-radius
);
