@include radiofield-ui(
    $checkbox-size: $radiofield-checkbox-size,
    $checkbox-size-big: $radiofield-checkbox-size-big,
    $checkbox-font-size: $radiofield-checkbox-font-size,
    $checkbox-font-size-big: $radiofield-checkbox-font-size-big,
    $checkbox-margin: $radiofield-checkbox-margin,
    $checkbox-margin-big: $radiofield-checkbox-margin-big,
    $checkbox-icon: $radiofield-checkbox-icon,
    $checked-checkbox-icon: $radiofield-checked-checkbox-icon,
    $checkbox-color: $radiofield-checkbox-color,
    $checked-checkbox-color: $radiofield-checked-checkbox-color,
    $disabled-checkbox-color: $radiofield-disabled-checkbox-color,
    $focused-checkbox-color: $radiofield-focused-checkbox-color,
    $box-label-color: $radiofield-box-label-color,
    $box-label-font-weight: $radiofield-box-label-font-weight,
    $box-label-font-size: $radiofield-box-label-font-size,
    $box-label-font-size-big: $radiofield-box-label-font-size-big,
    $box-label-line-height: $radiofield-box-label-line-height,
    $box-label-line-height-big: $radiofield-box-label-line-height-big,
    $box-label-font-family: $radiofield-box-label-font-family,
    $box-label-padding: $radiofield-box-label-padding,
    $box-label-padding-big: $radiofield-box-label-padding-big
);