/**
 * @class Ext.field.Select
 */

.x-selectfield-overlay {
    .x-list-item-label {
        height: 34px;
    }

    .x-listitem.x-selected {
        .x-list-label {
            margin-right: 34px;
            @include font-icon($selectfield-selected-item-icon, $pseudo: after, $style-pseudo: true);
            &:after {
                color: $selectfield-selected-item-icon-color;
                position: absolute;
                right: 8px;
            }
        }
    }
}
