@include sliderfield-ui(
    $padding: $sliderfield-padding,
    $padding-big: $sliderfield-padding-big,
    $box-label-color: $sliderfield-box-label-color,
    $box-label-font-weight: $sliderfield-box-label-font-weight,
    $box-label-font-size: $sliderfield-box-label-font-size,
    $box-label-font-size-big: $sliderfield-box-label-font-size-big,
    $box-label-line-height: $sliderfield-box-label-line-height,
    $box-label-line-height-big: $sliderfield-box-label-line-height-big,
    $box-label-font-family: $sliderfield-box-label-font-family,
    $box-label-padding: $sliderfield-box-label-padding,
    $box-label-padding-big: $sliderfield-box-label-padding-big,
    $body-width: $sliderfield-body-width,
    $body-width-big: $sliderfield-body-width-big
);