@include textfield-ui(
    $input-color: $textfield-input-color,
    $focused-input-color: $textfield-focused-input-color,
    $invalid-input-color: $textfield-invalid-input-color,
    $disabled-input-color: $textfield-disabled-input-color,
    $input-border-width: $textfield-input-border-width,
    $input-border-style: $textfield-input-border-style,
    $focused-input-border-style: $textfield-focused-input-border-style,
    $invalid-input-border-style: $textfield-invalid-input-border-style,
    $input-border-color: $textfield-input-border-color,
    $focused-input-border-color: $textfield-focused-input-border-color,
    $invalid-input-border-color: $textfield-invalid-input-border-color,
    $disabled-input-border-color: $textfield-disabled-input-border-color,
    $input-underline-width: $textfield-input-underline-width,
    $focused-input-underline-width: $textfield-focused-input-underline-width,
    $invalid-input-underline-width: $textfield-invalid-input-underline-width,
    $input-underline-color: $textfield-input-underline-color,
    $focused-input-underline-color: $textfield-focused-input-underline-color,
    $invalid-input-underline-color: $textfield-invalid-input-underline-color,
    $input-background-color: $textfield-input-background-color,
    $focused-input-background-color: $textfield-focused-input-background-color,
    $invalid-input-background-color: $textfield-invalid-input-background-color,
    $disabled-input-background-color: $textfield-disabled-input-background-color,
    $input-padding: $textfield-input-padding,
    $input-padding-big: $textfield-input-padding-big,
    $input-font-weight: $textfield-input-font-weight,
    $input-font-size: $textfield-input-font-size,
    $input-font-size-big: $textfield-input-font-size-big,
    $input-line-height: $textfield-input-line-height,
    $input-line-height-big: $textfield-input-line-height-big,
    $input-font-family: $textfield-input-font-family,
    $placeholder-color: $textfield-placeholder-color,
    $focused-placeholder-color: $textfield-focused-placeholder-color,
    $invalid-placeholder-color: $textfield-invalid-placeholder-color,
    $disabled-placeholder-color: $textfield-disabled-placeholder-color,
    $body-width: $textfield-body-width,
    $body-width-big: $textfield-body-width-big,
    $animate-underline-duration: $textfield-animate-underline-duration
);

@if $enable-default-uis {
    @if $textfield-celleditor-ui {
        @include textfield-ui(map-merge((ui: celleditor), $textfield-celleditor-ui)...);
    }

    @if $textfield-alt-ui {
        @include textfield-ui(map-merge((ui: 'alt'), $textfield-alt-ui)...);
    }

    @if $textfield-faded-ui {
        @include textfield-ui(map-merge((ui: 'faded'), $textfield-faded-ui)...);
    }

    @if $textfield-solo-ui {
        @include textfield-ui(map-merge((ui: 'solo'), $textfield-solo-ui)...);
    }
}
