@include togglefield-ui(
    $padding: $togglefield-padding,
    $padding-big: $togglefield-padding-big,
    $box-label-color: $togglefield-box-label-color,
    $box-label-font-weight: $togglefield-box-label-font-weight,
    $box-label-font-size: $togglefield-box-label-font-size,
    $box-label-font-size-big: $togglefield-box-label-font-size-big,
    $box-label-line-height: $togglefield-box-label-line-height,
    $box-label-line-height-big: $togglefield-box-label-line-height-big,
    $box-label-font-family: $togglefield-box-label-font-family,
    $box-label-padding: $togglefield-box-label-padding,
    $box-label-padding-big: $togglefield-box-label-padding-big,
    $body-width: $togglefield-body-width,
    $body-width-big: $togglefield-body-width-big
);