@include tooltip-ui(
    $background-color: $tooltip-background-color,
    $border-color: $tooltip-border-color,
    $border-width: $tooltip-border-width,
    $border-style: $tooltip-border-style,
    $border-radius: $tooltip-border-radius,
    $body-background-color: $tooltip-body-background-color,
    $body-color: $tooltip-body-color,
    $body-border-color: $tooltip-body-border-color,
    $body-border-width: $tooltip-body-border-width,
    $body-border-style: $tooltip-body-border-style,
    $body-font-weight: $tooltip-body-font-weight,
    $body-font-size: $tooltip-body-font-size,
    $body-font-size-big: $tooltip-body-font-size-big,
    $body-line-height: $tooltip-body-line-height,
    $body-line-height-big: $tooltip-body-line-height-big,
    $body-font-family: $tooltip-body-font-family,
    $body-padding: $tooltip-body-padding,
    $body-padding-big: $tooltip-body-padding-big,
    $header-background-color: $tooltip-header-background-color,
    $header-background-gradient: $tooltip-header-background-gradient,
    $header-color: $tooltip-header-color,
    $header-border-color: $tooltip-header-border-color,
    $header-border-width: $tooltip-header-border-width,
    $header-border-style: $tooltip-header-border-style,
    $header-font-weight: $tooltip-header-font-weight,
    $header-font-size: $tooltip-header-font-size,
    $header-font-size-big: $tooltip-header-font-size-big,
    $header-line-height: $tooltip-header-line-height,
    $header-line-height-big: $tooltip-header-line-height-big,
    $header-font-family: $tooltip-header-font-family,
    $header-padding: $tooltip-header-padding,
    $header-padding-big: $tooltip-header-padding-big,
    $header-title-padding: $tooltip-header-title-padding,
    $header-title-padding-big: $tooltip-header-title-padding-big,
    $header-title-opacity: $tooltip-header-title-opacity,
    $header-shadow: $tooltip-header-shadow,
    $header-z-index: $tooltip-header-z-index,
    $header-min-height: $tooltip-header-min-height,
    $header-min-height-big: $tooltip-header-min-height-big,
    $header-icon-color: $tooltip-header-icon-color,
    $header-icon-size: $tooltip-header-icon-size,
    $header-icon-size-big: $tooltip-header-icon-size-big,
    $header-icon-font-size: $tooltip-header-icon-font-size,
    $header-icon-font-size-big: $tooltip-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $tooltip-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $tooltip-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $tooltip-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $tooltip-header-icon-vertical-spacing-big,
    $header-icon-opacity: $tooltip-header-icon-opacity,
    $tool-color: $tooltip-tool-color,
    $tool-hovered-color: $tooltip-tool-hovered-color,
    $tool-pressed-color: $tooltip-tool-pressed-color,
    $tool-disabled-color: $tooltip-tool-disabled-color,
    $tool-background-color: $tooltip-tool-background-color,
    $tool-hovered-background-color: $tooltip-tool-hovered-background-color,
    $tool-pressed-background-color: $tooltip-tool-pressed-background-color,
    $tool-disabled-background-color: $tooltip-tool-disabled-background-color,
    $tool-opacity: $tooltip-tool-opacity,
    $tool-hovered-opacity: $tooltip-tool-hovered-opacity,
    $tool-pressed-opacity: $tooltip-tool-pressed-opacity,
    $tool-disabled-opacity: $tooltip-tool-disabled-opacity,
    $tool-border-radius: $tooltip-tool-border-radius,
    $tool-size: $tooltip-tool-size,
    $tool-size-big: $tooltip-tool-size-big,
    $tool-font-size: $tooltip-tool-font-size,
    $tool-font-size-big: $tooltip-tool-font-size-big,
    $tool-spacing: $tooltip-tool-spacing,
    $tool-spacing-big: $tooltip-tool-spacing-big,
    $tool-cursor: $tooltip-tool-cursor,
    $tool-disabled-cursor: $tooltip-tool-disabled-cursor,
    $tool-focused-outline-width: $tooltip-tool-focused-outline-width,
    $tool-focused-outline-style: $tooltip-tool-focused-outline-style,
    $tool-focused-outline-color: $tooltip-tool-focused-outline-color,
    $tool-focused-outline-offset: $tooltip-tool-focused-outline-offset,
    $anchor-border-color: $tooltip-anchor-border-color,
    $anchor-background-color: $tooltip-anchor-background-color,
    $anchor-width: $tooltip-anchor-width,
    $anchor-height: $tooltip-anchor-height,
    $anchor-margin: $tooltip-anchor-margin,
    $manage-borders: $tooltip-manage-borders
);
