/** @class Ext.grid.header.Container */
//

$grid-header-background-color: dynamic(adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -16.078%));
$grid-header-border-color: dynamic(adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -16.078%));
$grid-header-over-background-color: dynamic(adjust-color($base-color, $hue: -0.175deg, $saturation: 25.296%, $lightness: -2.549%));
$grid-header-sort-icon-spacing: dynamic(3px);
$grid-header-padding: dynamic(4px 6px 5px);
$grid-header-trigger-background-image: dynamic('grid/grid3-hd-btn');
