/** @class Ext.form.Labelable */
//

$form-error-msg-color: dynamic(#c0272b);
$form-error-msg-font-size: dynamic(ceil($font-size * .9));
$form-toolbar-label-font-size: dynamic(ceil($font-size * .9));
