$panel-base-color: dynamic($neutral-light-color);
$panel-header-color: dynamic($base-color);
$panel-frame-border-width: dynamic(1px);
$panel-header-font-size: dynamic(round($font-size * 1.15));
$panel-body-border-color: dynamic($neutral-dark-color);
$panel-header-focus-outline-color: dynamic($base-color);
$panel-tool-focus-outline-color: dynamic($base-color);
$tool-glyph-color: dynamic($base-color);

$panel-light-header-color: dynamic(#000);
$panel-light-header-background-color: dynamic(#fff);
$panel-light-tool-background-image: dynamic('tools/tool-sprites-dark');
$panel-light-body-border-color: dynamic($neutral-dark-color);
$panel-ignore-frame-padding: dynamic(true);
