/** @class Ext.picker.Color */
//

$colorpicker-item-border-color-over: dynamic(#8bb8f3);
$colorpicker-item-inner-border-color: dynamic(#aca899);
$colorpicker-item-background-color-over: dynamic(#deecfd);
