$checkboxfield-checkbox-color: dynamic($base-color);
$checkboxfield-checkbox-size: dynamic(22px);
$checkboxfield-checkbox-size-big: dynamic(30px);
$checkboxfield-checkbox-color: dynamic($base-color);
$checkboxfield-checkbox-icon: dynamic($ios-check-box-unchecked iOS);
$checkboxfield-checked-checkbox-icon: dynamic($ios-check-box-checked iOS);
$checkboxfield-checkbox-font-size: dynamic(16px);
$checkboxfield-checkbox-font-size-big: dynamic(24px);
