/** @class Ext.container.ButtonGroup */
//

$btn-group-framed-background-color: dynamic(adjust-color($base-color, $hue: 1deg, $saturation: -4%, $lightness: 3.8%));
$btn-group-border-color: dynamic(adjust-color($base-color, $hue: -5deg, $saturation: -27%, $lightness: -6%));
$btn-group-inner-border-color: dynamic(adjust-color($base-color, $saturation: -9%, $lightness: 8.5%));
$btn-group-header-margin: dynamic(2px 2px 0 2px);
$btn-group-header-font-size: dynamic(ceil($font-size * .9));
$btn-group-header-color: dynamic(adjust-color($base-color, $hue: 2.6deg, $saturation: -9%, $lightness: -38.5%));
$btn-group-header-background-color: dynamic(adjust-color($base-color, $hue: -2deg, $saturation: 5%, $lightness: 1%));
$btn-group-header-line-height: dynamic(15px);
$btn-group-header-padding: dynamic(1px 0);
