/** @class Ext.form.field.Trigger */
//

$form-trigger-width: dynamic(17px);
$form-trigger-border-width: dynamic(0 0 1px);
$form-trigger-border-color-focus: dynamic($form-field-focus-border-color);
$form-trigger-border-color-over: dynamic($form-trigger-border-color-focus);
$form-trigger-background-color: dynamic(transparent);
