@include emptytext-ui(
    $color: $emptytext-color,
    $font-weight: $emptytext-font-weight,
    $font-size: $emptytext-font-size,
    $font-size-big: $emptytext-font-size-big,
    $line-height: $emptytext-line-height,
    $line-height-big: $emptytext-line-height-big,
    $font-family: $emptytext-font-family,
    $padding: $emptytext-padding,
    $padding-big: $emptytext-padding-big
);