@include indexbar-ui(
    $width: $indexbar-width,
    $width-big: $indexbar-width-big,
    $color: $indexbar-color,
    $pressed-color: $indexbar-pressed-color,
    $background-color: $indexbar-background-color,
    $pressed-background-color: $indexbar-pressed-background-color,
    $border-radius: $indexbar-border-radius,
    $border-radius-big: $indexbar-border-radius-big,
    $opacity: $indexbar-opacity,
    $pressed-opacity: $indexbar-pressed-opacity,
    $font-weight: $indexbar-font-weight,
    $font-size: $indexbar-font-size,
    $font-size-big: $indexbar-font-size-big,
    $font-family: $indexbar-font-family,
    $padding: $indexbar-padding,
    $padding-big: $indexbar-padding-big,
    $margin: $indexbar-margin,
    $margin-big: $indexbar-margin-big,
    $horizontal-width: $indexbar-horizontal-width,
    $horizontal-width-big: $indexbar-horizontal-width-big,
    $horizontal-padding: $indexbar-horizontal-padding,
    $horizontal-padding-big: $indexbar-horizontal-padding-big,
    $horizontal-margin: $indexbar-horizontal-margin,
    $horizontal-margin-big: $indexbar-horizontal-margin-big,
    $justify-items: $indexbar-justify-items,
    $indicator-width: $indexbar-indicator-width,
    $indicator-width-big: $indexbar-indicator-width-big,
    $indicator-height: $indexbar-indicator-height,
    $indicator-height-big: $indexbar-indicator-height-big,
    $indicator-margin: $indexbar-indicator-margin,
    $indicator-spacing: $indexbar-indicator-spacing,
    $indicator-background-color: $indexbar-indicator-background-color,
    $indicator-border-radius: $indexbar-indicator-border-radius,
    $indicator-color: $indexbar-indicator-color,
    $indicator-font-size: $indexbar-indicator-font-size,
    $indicator-font-size-big: $indexbar-indicator-font-size-big,
    $indicator-line-height: $indexbar-indicator-line-height,
    $indicator-line-height-big: $indexbar-indicator-line-height-big,
    $indicator-font-weight: $indexbar-indicator-font-weight,
    $indicator-font-weight-big: $indexbar-indicator-font-weight-big,
    $indicator-enable-arrow: $indexbar-indicator-enable-arrow
);