@include itemheader-ui(
    $color: $itemheader-color,
    $pinned-color: $itemheader-pinned-color,
    $background-color: $itemheader-background-color,
    $pinned-background-color: $itemheader-pinned-background-color,
    $border-width: $itemheader-border-width,
    $border-style: $itemheader-border-style,
    $border-color: $itemheader-border-color,
    $pinned-border-color: $itemheader-pinned-border-color,
    $focused-outline-width: $itemheader-focused-outline-width,
    $focused-outline-style: $itemheader-focused-outline-style,
    $focused-outline-color: $itemheader-focused-outline-color,
    $focused-outline-offset: $itemheader-focused-outline-offset,
    $box-shadow: $itemheader-box-shadow,
    $pinned-box-shadow: $itemheader-pinned-box-shadow,
    $pinned-bottom-box-shadow: $itemheader-pinned-bottom-box-shadow,
    $font-weight: $itemheader-font-weight,
    $font-size: $itemheader-font-size,
    $font-size-big: $itemheader-font-size-big,
    $line-height: $itemheader-line-height,
    $line-height-big: $itemheader-line-height-big,
    $font-family: $itemheader-font-family,
    $padding: $itemheader-padding,
    $padding-big: $itemheader-padding-big
);
