@include listitem-ui(
    $color: $listitem-color,
    $hovered-color: $listitem-hovered-color,
    $selected-color: $listitem-selected-color,
    $pressed-color: $listitem-pressed-color,
    $pinned-color: $listitem-pinned-color,
    $background-color: $listitem-background-color,
    $alt-background-color: $listitem-alt-background-color,
    $hovered-background-color: $listitem-hovered-background-color,
    $selected-background-color: $listitem-selected-background-color,
    $pressed-background-color: $listitem-pressed-background-color,
    $pinned-background-color: $listitem-pinned-background-color,
    $border-width: $listitem-border-width,
    $border-style: $listitem-border-style,
    $border-color: $listitem-border-color,
    $hovered-border-color: $listitem-hovered-border-color,
    $selected-border-color: $listitem-selected-border-color,
    $pressed-border-color: $listitem-pressed-border-color,
    $pinned-border-color: $listitem-pinned-border-color,
    $focused-outline-width: $listitem-focused-outline-width,
    $focused-outline-style: $listitem-focused-outline-style,
    $focused-outline-color: $listitem-focused-outline-color,
    $focused-outline-offset: $listitem-focused-outline-offset,
    $pinned-box-shadow: $listitem-pinned-box-shadow,
    $pinned-bottom-box-shadow: $listitem-pinned-bottom-box-shadow,
    $font-weight: $listitem-font-weight,
    $font-size: $listitem-font-size,
    $font-size-big: $listitem-font-size-big,
    $selected-font-size: $listitem-selected-font-size,
    $selected-font-size-big: $listitem-selected-font-size-big,
    $pressed-font-size: $listitem-pressed-font-size,
    $pressed-font-size-big: $listitem-pressed-font-size-big,
    $line-height: $listitem-line-height,
    $line-height-big: $listitem-line-height-big,
    $font-family: $listitem-font-family,
    $padding: $listitem-padding,
    $padding-big: $listitem-padding-big
);
