$datepicker-item-height: dynamic(32px);
$datepicker-item-width: dynamic(40px);
$datepicker-item-padding: dynamic(0 11px 0 0);
$datepicker-monthpicker-item-height: dynamic(32px);
$datepicker-monthpicker-item-margin: dynamic(6px 5px 7px);
$datepicker-monthpicker-small-item-margin: dynamic(2px 5px 3px);
$datepicker-header-padding: dynamic(7px 6px);
$datepicker-arrow-width: dynamic(32px);
$datepicker-arrow-height: dynamic(32px);
$datepicker-month-button-arrow-width: dynamic(16px);
$datepicker-footer-padding: dynamic(6px 0);
$datepicker-next-background-position: dynamic(center center);
$datepicker-prev-background-position: dynamic(center center);
$datepicker-monthpicker-next-background-position: dynamic(center center);
$datepicker-monthpicker-next-background-position-over: dynamic(center center);
$datepicker-monthpicker-prev-background-position: dynamic(center center);
$datepicker-monthpicker-prev-background-position-over: dynamic(center center);
