.#{$prefix}layout-carousel-wrap {
    overflow: hidden;
    display: block;
}

.#{$prefix}layout-carousel {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    display: inline-flex;
    flex-direction: row;
}

.#{$prefix}layout-carousel-item {
    flex: 0 0;
}
