$gridcolumn-color: dynamic($color);
$gridcolumn-hovered-background-color: dynamic($gridcolumn-background-color);
$gridcolumn-font-size: dynamic(13px);
$gridcolumn-font-size-big: dynamic(14px);
$gridcolumn-font-weight: dynamic(400);
$gridcolumn-line-height: dynamic(16px);
$gridcolumn-line-height-big: dynamic(20px);
$gridcolumn-padding: dynamic(12px);
$gridcolumn-padding-big: dynamic(14px 12px);
$gridcolumn-sort-icon-spacing: dynamic($content-padding/4);
$gridcolumn-sort-icon-font-size: dynamic(18px);
$gridcolumn-sort-asc-icon: dynamic('arrow_upward');
$gridcolumn-sort-desc-icon: dynamic('arrow_downward');
$gridcolumn-trigger-width: dynamic(20px);
$gridcolumn-trigger-width-big: dynamic(24px);
$gridcolumn-trigger-icon-font-size: dynamic(20px);
$gridcolumn-trigger-icon-font-size-big: dynamic(24px);
$gridcolumn-trigger-icon: dynamic('arrow_drop_down');
$gridcolumn-menu-sort-asc-icon: dynamic('arrow_upward');
$gridcolumn-menu-sort-desc-icon: dynamic('arrow_downward');
$gridcolumn-menu-columns-icon: dynamic('view_column');
//$gridcolumn-menu-group-by-this-icon: dynamic('format_indent_increase');
$gridcolumn-menu-group-by-this-icon: dynamic('format_align_right');
$gridcolumn-resizer-background-color: dynamic($accent-light-color);
