$btn-group-background-color: dynamic(#393d4e);
$btn-group-header-background-color: dynamic(#676772);
$btn-group-border-color: dynamic(#606068);
$btn-group-inner-border-color: dynamic(#757478);
$btn-group-header-color: dynamic(#D2D2D2);
$btn-group-tool-background-image: dynamic('tools/tool-sprites');
