/** @class Ext.container.ButtonGroup */
//

$btn-group-background-color: dynamic(#f0f0f0);
$btn-group-header-background-color: dynamic(#dfdfdf);
$btn-group-border-color: dynamic(#d0d0d0);
$btn-group-header-color: dynamic(#666);
$btn-group-inner-border-color: dynamic(#ececec);
