$accordion-header-color: dynamic($panel-header-color);
$accordion-header-background-color: dynamic($panel-light-header-background-color);
$accordion-header-over-background-color: dynamic($accordion-header-background-color);
$accordion-header-border-width: dynamic(0 0 1px);
$accordion-header-border-color: dynamic($accordion-header-background-color $neutral-dark-color $neutral-dark-color);
$accordion-padding: dynamic(0);
$accordion-item-margin: dynamic(0);
$accordion-tool-background-image: dynamic('tools/tool-sprites');
