.#{$prefix}managed-borders {
    > .#{$prefix}docked-top {
        border-bottom-width: 0 !important;
    }

    > .#{$prefix}docked-bottom {
        border-top-width: 0 !important;
    }

    > .#{$prefix}docked-left {
        border-right-width: 0 !important;
    }

    > .#{$prefix}docked-right {
        border-left-width: 0 !important;
    }
}
