@include datepanel-ui(
    // DateView styles
    $pane-margin: $datepanel-pane-margin,

    $caption-padding: $datepanel-caption-padding,
    $caption-padding-big: $datepanel-caption-padding-big,
    $caption-color: $datepanel-caption-color,
    $caption-background-color: $datepanel-caption-background-color,
    $caption-text-align: $datepanel-caption-text-align,
    $caption-font-family: $datepanel-caption-font-family,
    $caption-font-size: $datepanel-caption-font-size,
    $caption-font-size-big: $datepanel-caption-font-size-big,
    $caption-font-weight: $datepanel-caption-font-weight,

    $cell-width: $datepanel-cell-width,
    $cell-width-big: $datepanel-cell-width-big,
    $cell-height: $datepanel-cell-height,
    $cell-height-big: $datepanel-cell-height-big,
    $cell-spacing: $datepanel-cell-spacing,
    $cell-spacing-big: $datepanel-cell-spacing-big,
    $cell-border-radius: $datepanel-cell-border-radius,
    $cell-border-radius-big: $datepanel-cell-border-radius-big,
    $cell-color: $datepanel-cell-color,
    $cell-background-color: $datepanel-cell-background-color,
    $cell-font-family: $datepanel-cell-font-family,
    $cell-font-size: $datepanel-cell-font-size,
    $cell-font-size-big: $datepanel-cell-font-size-big,
    $cell-font-weight: $datepanel-cell-font-weight,

    $day-cell-height: $datepanel-day-cell-height,
    $day-cell-height-big: $datepanel-day-cell-height-big,
    $day-cell-color: $datepanel-day-cell-color,
    $day-cell-background-color: $datepanel-day-cell-background-color,
    $day-cell-font-family: $datepanel-day-cell-font-family,
    $day-cell-font-size: $datepanel-day-cell-font-size,
    $day-cell-font-size-big: $datepanel-day-cell-font-size-big,
    $day-cell-font-weight: $datepanel-day-cell-font-weight,

    $date-cell-height: $datepanel-date-cell-height,
    $date-cell-height-big: $datepanel-date-cell-height-big,
    $date-cell-color: $datepanel-date-cell-color,
    $date-cell-background-color: $datepanel-date-cell-background-color,
    $date-cell-font-family: $datepanel-date-cell-font-family,
    $date-cell-font-size: $datepanel-date-cell-font-size,
    $date-cell-font-size-big: $datepanel-date-cell-font-size-big,
    $date-cell-font-weight: $datepanel-date-cell-font-weight,
    $date-cell-border-color: $datepanel-date-cell-border-color,
    $date-cell-border-style: $datepanel-date-cell-border-style,
    $date-cell-border-width: $datepanel-date-cell-border-width,

    $outside-cell-color: $datepanel-outside-cell-color,
    $outside-cell-background-color: $datepanel-outside-cell-background-color,
    $outside-cell-font-weight: $datepanel-outside-cell-font-weight,

    $weekend-cell-color: $datepanel-weekend-cell-color,
    $weekend-cell-background-color: $datepanel-weekend-cell-background-color,
    $weekend-cell-font-weight: $datepanel-weekend-cell-font-weight,

    $weekend-column-width: $datepanel-weekend-column-width,
    $weekend-column-background-color: $datepanel-weekend-column-background-color,
    $weekend-column-spacing: $datepanel-weekend-column-spacing,
    $weekend-column-border-color: $datepanel-weekend-column-border-color,
    $weekend-column-border-style: $datepanel-weekend-column-border-style,
    $weekend-column-border-width: $datepanel-weekend-column-border-width,
    $weekend-column-border-radius: $datepanel-weekend-column-border-radius,

    $today-cell-color: $datepanel-today-cell-color,
    $today-cell-background-color: $datepanel-today-cell-background-color,
    $today-cell-font-weight: $datepanel-today-cell-font-weight,

    $special-cell-color: $datepanel-special-cell-color,
    $special-cell-background-color: $datepanel-special-cell-background-color,
    $special-cell-font-weight: $datepanel-special-cell-font-weight,

    $disabled-cell-color: $datepanel-disabled-cell-color,
    $disabled-cell-background-color: $datepanel-disabled-cell-background-color,
    $disabled-cell-font-weight: $datepanel-disabled-cell-font-weight,

    $selected-cell-color: $datepanel-selected-cell-color,
    $selected-cell-background-color: $datepanel-selected-cell-background-color,
    $selected-cell-font-weight: $datepanel-selected-cell-font-weight,

    $focused-cell-outline-color: $datepanel-focused-cell-outline-color,
    $focused-cell-outline-style: $datepanel-focused-cell-outline-style,
    $focused-cell-outline-width: $datepanel-focused-cell-outline-width,
    $focused-cell-outline-offset: $datepanel-focused-cell-outline-offset,

    $selected-focused-cell-outline-color: $datepanel-selected-focused-cell-outline-color,

    // Date panel styles

    $split-title-header-padding: $datepanel-split-title-header-padding,
    $split-title-header-padding-big: $datepanel-split-title-header-padding-big,

    $header-year-color: $datepanel-header-year-color,
    $header-year-opacity: $datepanel-header-year-opacity,
    $header-year-font-size: $datepanel-header-year-font-size,
    $header-year-font-size-big: $datepanel-header-year-font-size-big,
    $header-year-font-family: $datepanel-header-year-font-family,
    $header-year-font-weight: $datepanel-header-year-font-weight,
    $header-year-line-height: $datepanel-header-year-line-height,
    $header-year-line-height-big: $datepanel-header-year-line-height-big,

    $header-year-inactive-color: $datepanel-header-year-inactive-color,
    $header-year-inactive-opacity: $datepanel-header-year-inactive-opacity,
    $header-year-inactive-font-size: $datepanel-header-year-inactive-font-size,
    $header-year-inactive-font-size-big: $datepanel-header-year-inactive-font-size-big,

    $header-title-inactive-color: $datepanel-header-title-inactive-color,
    $header-title-inactive-opacity: $datepanel-header-title-inactive-opacity,
    $header-title-inactive-font-size: $datepanel-header-title-inactive-font-size,
    $header-title-inactive-font-size-big: $datepanel-header-title-inactive-font-size-big,

    $header-inactive-transition: $datepanel-header-inactive-transition,

    // Inherited panel styles
    $border-color: $datepanel-border-color,
    $border-width: $datepanel-border-width,
    $border-style: $datepanel-border-style,
    $border-radius: $datepanel-border-radius,
    $body-background-color: $datepanel-body-background-color,
    $body-color: $datepanel-body-color,
    $body-border-color: $datepanel-body-border-color,
    $body-border-width: $datepanel-body-border-width,
    $body-border-style: $datepanel-body-border-style,
    $body-font-weight: $datepanel-body-font-weight,
    $body-font-size: $datepanel-body-font-size,
    $body-font-size-big: $datepanel-body-font-size-big,
    $body-line-height: $datepanel-body-line-height,
    $body-line-height-big: $datepanel-body-line-height-big,
    $body-font-family: $datepanel-body-font-family,
    $body-padding: $datepanel-body-padding,
    $body-padding-big: $datepanel-body-padding-big,
    $header-background-color: $datepanel-header-background-color,
    $header-background-gradient: $datepanel-header-background-gradient,
    $header-color: $datepanel-header-color,
    $header-border-color: $datepanel-header-border-color,
    $header-border-width: $datepanel-header-border-width,
    $header-border-style: $datepanel-header-border-style,
    $header-font-weight: $datepanel-header-font-weight,
    $header-font-size: $datepanel-header-font-size,
    $header-font-size-big: $datepanel-header-font-size-big,
    $header-line-height: $datepanel-header-line-height,
    $header-line-height-big: $datepanel-header-line-height-big,
    $header-font-family: $datepanel-header-font-family,
    $header-padding: $datepanel-header-padding,
    $header-padding-big: $datepanel-header-padding-big,
    $header-title-padding: $datepanel-header-title-padding,
    $header-title-padding-big: $datepanel-header-title-padding-big,
    $header-title-opacity: $datepanel-header-title-opacity,
    $header-shadow: $datepanel-header-shadow,
    $header-z-index: $datepanel-header-z-index,
    $header-min-height: $datepanel-header-min-height,
    $header-min-height-big: $datepanel-header-min-height-big,
    $header-icon-color: $datepanel-header-icon-color,
    $header-icon-size: $datepanel-header-icon-size,
    $header-icon-size-big: $datepanel-header-icon-size-big,
    $header-icon-font-size: $datepanel-header-icon-font-size,
    $header-icon-font-size-big: $datepanel-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $datepanel-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $datepanel-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $datepanel-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $datepanel-header-icon-vertical-spacing-big,
    $header-icon-opacity: $datepanel-header-icon-opacity,
    $tool-color: $datepanel-tool-color,
    $tool-hovered-color: $datepanel-tool-hovered-color,
    $tool-pressed-color: $datepanel-tool-pressed-color,
    $tool-disabled-color: $datepanel-tool-disabled-color,
    $tool-background-color: $datepanel-tool-background-color,
    $tool-hovered-background-color: $datepanel-tool-hovered-background-color,
    $tool-pressed-background-color: $datepanel-tool-pressed-background-color,
    $tool-disabled-background-color: $datepanel-tool-disabled-background-color,
    $tool-opacity: $datepanel-tool-opacity,
    $tool-hovered-opacity: $datepanel-tool-hovered-opacity,
    $tool-pressed-opacity: $datepanel-tool-pressed-opacity,
    $tool-disabled-opacity: $datepanel-tool-disabled-opacity,
    $tool-border-radius: $datepanel-tool-border-radius,
    $tool-size: $datepanel-tool-size,
    $tool-size-big: $datepanel-tool-size-big,
    $tool-font-size: $datepanel-tool-font-size,
    $tool-font-size-big: $datepanel-tool-font-size-big,
    $tool-spacing: $datepanel-tool-spacing,
    $tool-spacing-big: $datepanel-tool-spacing-big,
    $tool-cursor: $datepanel-tool-cursor,
    $tool-disabled-cursor: $datepanel-tool-disabled-cursor,
    $tool-focused-outline-width: $datepanel-tool-focused-outline-width,
    $tool-focused-outline-style: $datepanel-tool-focused-outline-style,
    $tool-focused-outline-color: $datepanel-tool-focused-outline-color,
    $tool-focused-outline-offset: $datepanel-tool-focused-outline-offset,
    $anchor-border-color: $datepanel-anchor-border-color,
    $anchor-background-color: $datepanel-anchor-background-color,
    $anchor-width: $datepanel-anchor-width,
    $anchor-height: $datepanel-anchor-height,
    $anchor-margin: $datepanel-anchor-margin,
    $manage-borders: $datepanel-manage-borders
);