@include panelresizer-ui(
    $handle-size: $panelresizer-handle-size,
    $handle-size-big: $panelresizer-handle-size-big,
    $handle-background-color: $panelresizer-handle-background-color,

    $handle-proxy-background-color: $panelresizer-handle-proxy-background-color,
    $handle-proxy-opacity: $panelresizer-handle-proxy-opacity,
    $handle-proxy-border-width: $panelresizer-handle-proxy-border-width,
    $handle-proxy-border-style: $panelresizer-handle-proxy-border-style,
    $handle-proxy-border-color: $panelresizer-handle-proxy-border-color,

    $splitter-size: $panelresizer-splitter-size,
    $splitter-size-big: $panelresizer-splitter-size-big,
    $splitter-background-color: $panelresizer-splitter-background-color,
    $splitter-border-width: $panelresizer-splitter-border-width,
    $splitter-border-style: $panelresizer-splitter-border-style,
    $splitter-border-color: $panelresizer-splitter-border-color,

    $splitter-proxy-background-color: $panelresizer-splitter-proxy-background-color,
    $splitter-proxy-opacity: $panelresizer-splitter-proxy-opacity,
    $splitter-proxy-border-width: $panelresizer-splitter-proxy-border-width,
    $splitter-proxy-border-style: $panelresizer-splitter-proxy-border-style,
    $splitter-proxy-border-color: $panelresizer-splitter-proxy-border-color,
);