$slider-track-height: dynamic(2px);
$slider-track-height-big: dynamic(2px);
$slider-track-background-color: dynamic($divider-color);
$slider-track-border-radius: dynamic(null);
$slider-track-border-width: dynamic(null);
$slider-track-border-style: dynamic(null);
$slider-track-border-color: dynamic(null);
$slider-fill-background-color: dynamic($base-highlight-color);
$slider-disabled-fill-background-color: dynamic(transparent);
$slider-disabled-opacity: dynamic(null);