$thumb-height: dynamic(18px);
$thumb-width: dynamic(18px);
$thumb-box-shadow: dynamic(null);
$thumb-background-color: dynamic($base-color);
$thumb-disabled-background-color: dynamic($faded-color);
$thumb-icon: dynamic(null);
$thumb-icon-color: dynamic(null);
$thumb-icon-size: dynamic(null);
$thumb-icon-size-big: dynamic(null);
$thumb-border-width: dynamic(null);
$thumb-border-style: dynamic(null);
$thumb-border-color: dynamic(null);