
// TODO: change sizing to use em/rem units
$treelist-padding: dynamic(0 8px);
$treelist-item-line-height: dynamic(24px);
$treelist-item-line-height-big: dynamic(32px);
$treelist-item-text-color: dynamic($listitem-color);
$treelist-item-text-icon-gap: dynamic(4px);

$treelist-item-expander-color: dynamic($neutral-dark-color);

// TODO: size/size-big vars?
$treelist-item-expander-font-size: dynamic(16px);
$treelist-item-expander-font-size-big: dynamic(24px);

$treelist-item-expander-glyph: dynamic($fa-var-caret-right $font-icon-font-family);
$treelist-item-expander-expanded-glyph: dynamic($fa-var-caret-down $font-icon-font-family);

$treelist-item-expander-width: dynamic($treelist-item-expander-font-size);
$treelist-item-expander-width-big: dynamic($treelist-item-expander-font-size-big);

$treelist-item-icon-color: dynamic($neutral-dark-color);

$treelist-item-icon-font-size: dynamic(16px);
$treelist-item-icon-font-size-big: dynamic(24px);

$treelist-item-icon-width: dynamic($treelist-item-icon-font-size);
$treelist-item-icon-width-big: dynamic($treelist-item-icon-font-size-big);

$treelist-row-selected-background-color: dynamic($listitem-selected-background-color);
$treelist-row-over-background-color: dynamic($listitem-pressed-background-color);