/** @class Ext.picker.Date */
//

$datepicker-header-background-color: dynamic(#6f6f6f);
$datepicker-border-color: dynamic(#585858);
$datepicker-column-header-background-color: dynamic(#e9e9e9);
$datepicker-item-selected-background-color: dynamic(#d8d8d8);
$datepicker-item-hover-background-color: dynamic(transparent);
