$dataview-item-selected-background-color: dynamic(mix(#000, $neutral-color, 5%));
$dataview-item-hovered-background-color: dynamic(null);
$dataview-item-pressed-background-color: dynamic(null);
$dataview-item-line-height: dynamic(18px);
