$indexbar-color: dynamic($base-color);
$indexbar-font-weight: dynamic(500);
$indexbar-pressed-background-color: dynamic(null);
$indexbar-indicator-background-color: dynamic($neutral-highlight-color);
$indexbar-indicator-border-radius: dynamic(7px);