$itemheader-background-color: dynamic($neutral-highlight-color);
$itemheader-border-width: dynamic(null);
$itemheader-border-style: dynamic(null);
$itemheader-border-color: dynamic(null);
$itemheader-color: dynamic($color);
$itemheader-padding: dynamic(2px 10px);
$itemheader-padding-big: dynamic(4px 15px);