$listitem-hovered-border-color: dynamic(null);
$listitem-pressed-border-color: dynamic(null);
$listitem-selected-border-color: dynamic($listitem-selected-background-color);
$listitem-padding: dynamic(7px 10px);
