//# fashion warn -elevation
$ios-add: "\e900";
$ios-arrow-down: "\e901";
$ios-arrow-left: "\e902";
$ios-arrow-right: "\e903";
$ios-arrow-up: "\e904";
$ios-back-arrow: "\e905";

$ios-calendar: "\e906";
$ios-check-box-checked: "\e907";
$ios-check-box-unchecked: "\e908";
$ios-check-circle-checked: "\e909";
$ios-check-cricle-unchecked: "\e90a";
$ios-check: "\e90b";
$ios-close-hollow: "\e90c";
$ios-close: "\e90d";
$ios-collapse: "\e90e";
$ios-down: "\e90f";
$ios-expand: "\e910";
$ios-eye: "\e911";
$ios-filter-arrow-down: "\e912";
$ios-filter-arrow-up: "\e913";
$ios-folder: "\e914";
$ios-gear: "\e915";
$ios-help: "\e916";
$ios-leaf: '\e917';

$ios-left: "\e918";
$ios-maximize: "\e919";
$ios-menu: "\e91a";
$ios-minus: "\e91b";
$ios-move: "\e91c";

$ios-next: "\e91d";
$ios-pin: "\e91e";
$ios-plus: "\e91f";
$ios-previous: "\e920";
$ios-print: "\e921";
$ios-radio-button-checked: "\e922";
$ios-radio-button-unchecked: "\e923";
$ios-refresh: "\e924";
$ios-remove: "\e925";
$ios-restore: "\e926";
$ios-right: "\e927";
$ios-row-expander-collapse: "\e928";
$ios-row-expander-expand: "\e929";
$ios-search: "\e92a";
$ios-spinner-minus: "\e92b";
$ios-spinner-plus: "\e92c";
$ios-spinner: "\e92d";
$ios-toggle-down: "\e92e";
$ios-toggle-up: "\e92f";
$ios-unpin: "\e930";
$ios-up: "\e931";
$ios-user: "\e932";
$ios-group: '\e933';
$ios-error: '\e934';
$ios-columns: '\e935';
$ios-group-by-this: '\e936';
//# fashion warn +elevation
