//# fashion warn -elevation

$ext-var-sencha: "\e61e";
$ext-var-checkbox-checked: "\e613";
$ext-var-checkbox-unchecked: "\e614";
$ext-var-chevron-left: "\e615";
$ext-var-chevron-right: "\e616";
$ext-var-double-chevron-left: "\e617";
$ext-var-double-chevron-right: "\e618";
$ext-var-sort-down: "\e619";
$ext-var-sort-up: "\e61a";
$ext-var-spinner-down: "\e61b";
$ext-var-spinner-up: "\e61c";
$ext-var-square-edit: "\e61d";
$ext-var-equals-vertical: "\e612";
$ext-var-expand: "\e600";
$ext-var-columns: "\e601";
$ext-var-dirty: "\e602";
$ext-var-dirty-rtl: "\e603";
$ext-var-edit-html: "\e604";
$ext-var-equals: "\e605";
$ext-var-collapse: "\e606";
$ext-var-group-by: "\e607";
$ext-var-minimize: "\e608";
$ext-var-nw-handle: "\e609";
$ext-var-ne-handle: "\e60a";
$ext-var-sw-handle: "\e60b";
$ext-var-se-handle: "\e60c";
$ext-var-text-background-color: "\e60d";
$ext-var-text-color: "\e60e";
$ext-var-text-decrease: "\e60f";
$ext-var-text-increase: "\e610";
$ext-var-unpin: "\e611";

//# fashion warn +elevation
