//# fashion warn -elevation

$pictos-var-anchor: "a";
$pictos-var-box: "b";
$pictos-var-upload: "c";
$pictos-var-forbidden: "d";
$pictos-var-lightning: "e";
$pictos-var-rss: "f";
$pictos-var-team: "g";
$pictos-var-help: "h";
$pictos-var-info: "i";
$pictos-var-attachment: "j";
$pictos-var-heart: "k";
$pictos-var-list: "l";
$pictos-var-music: "m";
$pictos-var-table: "n";
$pictos-var-folder: "o";
$pictos-var-pencil: "p";
$pictos-var-chat2: "q";
$pictos-var-retweet: "r";
$pictos-var-search: "s";
$pictos-var-time: "t";
$pictos-var-switch: "u";
$pictos-var-camera: "v";
$pictos-var-chat: "w";
$pictos-var-settings2: "x";
$pictos-var-settings: "y";
$pictos-var-tags: "z";
$pictos-var-attachment2: "A";
$pictos-var-bird: "B";
$pictos-var-cloud: "C";
$pictos-var-delete_black1: "D";
$pictos-var-eye: "E";
$pictos-var-file: "F";
$pictos-var-browser: "G";
$pictos-var-home: "H";
$pictos-var-inbox: "I";
$pictos-var-network: "J";
$pictos-var-key: "K";
$pictos-var-radio: "L";
$pictos-var-mail: "M";
$pictos-var-news: "N";
$pictos-var-case: "O";
$pictos-var-photos: "P";
$pictos-var-power: "Q";
$pictos-var-action: "R";
$pictos-var-favorites: "S";
$pictos-var-plane: "T";
$pictos-var-user: "U";
$pictos-var-video: "V";
$pictos-var-compose: "W";
$pictos-var-truck: "X";
$pictos-var-chart2: "Y";
$pictos-var-chart: "Z";
$pictos-var-expand: "`";
$pictos-var-refresh: "1";
$pictos-var-check: "2";
$pictos-var-check2: "3";
$pictos-var-play: "4";
$pictos-var-pause: "5";
$pictos-var-stop: "6";
$pictos-var-forward: "7";
$pictos-var-rewind: "8";
$pictos-var-play2: "9";
$pictos-var-refresh2: "0";
$pictos-var-minus: "-";
$pictos-var-battery: "=";
$pictos-var-left: "[";
$pictos-var-right: "]";
$pictos-var-calendar: "\005C";
$pictos-var-shuffle: ";";
$pictos-var-wireless: "'";
$pictos-var-speedometer: ",";
$pictos-var-more: ".";
$pictos-var-print: "/";
$pictos-var-download: "~";
$pictos-var-warning_black: "!";
$pictos-var-locate: "@";
$pictos-var-trash: "#";
$pictos-var-cart: "$";
$pictos-var-bank: "%";
$pictos-var-flag: "^";
$pictos-var-add: "&";
$pictos-var-delete: "*";
$pictos-var-lock: "(";
$pictos-var-unlock: ")";
$pictos-var-minus2: "_";
$pictos-var-add2: "+";
$pictos-var-up: "{";
$pictos-var-down: "}";
$pictos-var-screens: "|";
$pictos-var-bell: ":";
$pictos-var-quote: "\"";
$pictos-var-volume_mute: "<";
$pictos-var-volume: ">";
$pictos-var-question: "?";
$pictos-var-arrow_left: "[";
$pictos-var-arrow_right: "]";
$pictos-var-arrow_up: "{";
$pictos-var-arrow_down: "}";
$pictos-var-organize: "I";
$pictos-var-bookmarks: "I";
$pictos-var-loop2: "r";
$pictos-var-star: "S";
$pictos-var-maps: "@";
$pictos-var-reply: "R";

//# fashion warn +elevation
