$dialog-header-padding: dynamic(null);
$dialog-header-padding-big: dynamic($dialog-header-padding);
$dialog-header-title-padding: dynamic(null);
$dialog-header-title-padding-big: dynamic($dialog-header-title-padding);
$dialog-body-background-color: dynamic($background-color);
$dialog-header-background-color: dynamic($background-color);
$dialog-header-color: dynamic($color);
$dialog-border-width: dynamic(0);
$dialog-border-style: dynamic(null);
$dialog-border-color: dynamic(null);
$dialog-border-radius: dynamic(null);
$dialog-border-radius-big: dynamic($dialog-border-radius);
$dialog-body-padding: dynamic($content-padding);
$dialog-tool-color: dynamic($color);
$dialog-tool-focused-outline-color: dynamic($base-color);

$dialog-body-color: dynamic($highlight-color);
