$indicator-size: dynamic(10px);
$indicator-active-size: dynamic(16px);

$indicator-light-ui: dynamic((
    background-color: $reverse-disabled-color,
    active-background-color: $base-color
));

$indicator-dark-ui: dynamic((
    background-color: $disabled-color,
    active-background-color: $base-color
));
