$messagebox-header-padding: dynamic(0 24px);
$messagebox-header-padding-big: dynamic($messagebox-header-padding);
$messagebox-header-title-padding: dynamic(null);
$messagebox-header-title-padding-big: dynamic($messagebox-header-title-padding);
$messagebox-body-padding: dynamic(24px);
$messagebox-body-padding-big: dynamic(24px);
