$panel-background-color: dynamic($background-color);
$panel-border-color: dynamic($faded-color);
$panel-border-width: dynamic(1px);
$panel-border-style: dynamic(solid);
$panel-body-border-color: dynamic($panel-border-color);
$panel-body-border-width: dynamic($panel-border-width);
$panel-body-border-style: dynamic($panel-border-style);

$panel-body-font-weight: dynamic(400);

$panel-body-font-size: dynamic(12px);
$panel-body-font-size-big: dynamic(14px);
$panel-body-line-height: dynamic(18px);
$panel-body-line-height-big: dynamic(20px);

$panel-header-background-color: dynamic($base-color);
$panel-header-border-color: dynamic($panel-border-color);
$panel-header-border-width: dynamic($panel-border-width);
$panel-header-border-style: dynamic($panel-border-style);
$panel-header-shadow: dynamic(null);

$panel-header-color: dynamic($base-foreground-color);
$panel-header-icon-color: dynamic($panel-header-color);
$panel-header-font-size: dynamic(18px);
$panel-header-font-size-big: dynamic(20px);
$panel-header-font-weight: dynamic(600);
$panel-header-line-height: dynamic(24px);
$panel-header-line-height-big: dynamic(24px);

$panel-header-padding: dynamic(0 $content-padding);
$panel-header-padding-big: dynamic(0 $content-padding);
$panel-header-title-padding: dynamic(($content-padding / 2) 0);
$panel-header-title-padding-big: dynamic(($content-padding / 2) 0);

$panel-header-min-height: dynamic(48px);
$panel-header-min-height-big: dynamic(64px);


$panel-tool-opacity: dynamic($tool-opacity);
$panel-tool-hovered-opacity: dynamic($tool-hovered-opacity);
$panel-tool-pressed-opacity: dynamic($tool-pressed-opacity);
$panel-tool-size: dynamic(20px);
$panel-tool-size-big: dynamic(20px);

$panel-light-ui: dynamic((
    header-background-color: $alt-background-color,
    header-color: $color,
    tool-color: $color,
    tool-focused-outline-color: $base-color
));