$progress-min-height: dynamic(4px);
$progress-min-height-big: dynamic(4px);

$progress-background-color: dynamic($base-light-color);
$progress-bar-background-color: dynamic($base-color);
$progress-text-front-color: dynamic(#fff);
$progress-text-back-color: dynamic(#111);
$progress-text-line-height: dynamic(20px);
$progress-text-line-height-big: dynamic(24px);