$tool-color: dynamic(material-color('grey', '500'));
$tool-size: dynamic(18px);
$tool-size-big: dynamic(18px);

$tool-itemheader-ui: dynamic((
    color: material-color('grey', '600')
));

$tool-boxscroller-ui: dynamic((
    size: 24px,
    size-big: 24px,
    width: 32px,
    height: 32px,
    width-big: 44px,
    height-big: 44px,
));

$tool-boxscroller-toolbar-ui: dynamic((
    color: $reverse-background-color,
    opacity: 1,
    disabled-opacity: 0,
    hovered-opacity: .6,
    pressed-opacity: .7
));

$tool-boxscroller-tabbar-ui: dynamic((
    color: $background-color,
    opacity: 1,
    disabled-opacity: 0,
    hovered-opacity: .6,
    pressed-opacity: .7
));

//--------------------------------
// Tool icons

$tool-close-icon: dynamic('close' $font-icon-font-family);
$tool-disclosure-icon: dynamic('arrow_forward' $font-icon-font-family);

$tool-minimize-icon: dynamic('remove' $font-icon-font-family);
$tool-maximize-icon: dynamic('call_made' $font-icon-font-family);
$tool-restore-icon: dynamic('call_received' $font-icon-font-family);

$tool-toggle-up-icon: dynamic('arrow_drop_up' $font-icon-font-family);
$tool-toggle-down-icon: dynamic('arrow_drop_down' $font-icon-font-family);

$tool-gear-icon: dynamic('settings' $font-icon-font-family);
$tool-prev-icon: dynamic('arrow_back' $font-icon-font-family);
$tool-next-icon: dynamic('arrow_forward' $font-icon-font-family);

$tool-scroll-up-icon: dynamic('keyboard_arrow_up' $font-icon-font-family);
$tool-scroll-down-icon: dynamic('keyboard_arrow_down' $font-icon-font-family);
$tool-scroll-left-icon: dynamic('keyboard_arrow_left' $font-icon-font-family);
$tool-scroll-right-icon: dynamic('keyboard_arrow_right' $font-icon-font-family);

$tool-pin-icon: dynamic($fa-var-thumb-tack 'FontAwesome');
$tool-unpin-icon: dynamic($ext-var-unpin ExtJS);

$tool-right-icon: dynamic('keyboard_arrow_right' $font-icon-font-family);
$tool-left-icon: dynamic('keyboard_arrow_left' $font-icon-font-family);
$tool-down-icon: dynamic('keyboard_arrow_down' $font-icon-font-family);
$tool-up-icon: dynamic('keyboard_arrow_up' $font-icon-font-family);

$tool-refresh-icon: dynamic('refresh'$font-icon-font-family);

$tool-plus-icon: dynamic('add' $font-icon-font-family);
$tool-minus-icon: dynamic('remove' $font-icon-font-family);

$tool-menu-icon: dynamic('menu' $font-icon-font-family);

$tool-search-icon: dynamic('search' $font-icon-font-family);
$tool-save-icon: dynamic('save' $font-icon-font-family);

$tool-help-icon: dynamic('help_outline' $font-icon-font-family);
$tool-print-icon: dynamic('print' $font-icon-font-family);

$tool-expand-icon: dynamic('expand_more' $font-icon-font-family);
$tool-collapse-icon: dynamic('expand_less' $font-icon-font-family);
$tool-resize-icon: dynamic($fa-var-arrows-h 'FontAwesome');

$tool-move-icon: dynamic('open_with' $font-icon-font-family);

$tool-expand-bottom-icon: dynamic('keyboard_arrow_down' $font-icon-font-family);
$tool-collapse-bottom-icon: dynamic('keyboard_arrow_down' $font-icon-font-family);

$tool-expand-top-icon: dynamic('keyboard_arrow_up' $font-icon-font-family);
$tool-collapse-top-icon: dynamic('keyboard_arrow_up' $font-icon-font-family);

$tool-expand-left-icon: dynamic('keyboard_arrow_left' $font-icon-font-family);
$tool-collapse-left-icon: dynamic('keyboard_arrow_left' $font-icon-font-family);

$tool-expand-right-icon: dynamic('keyboard_arrow_right' $font-icon-font-family);
$tool-collapse-right-icon: dynamic('keyboard_arrow_right' $font-icon-font-family);
