$gridcolumn-trigger-width: dynamic(30px);
$gridcolumn-trigger-width-big: dynamic(40px);
$gridcolumn-trigger-icon: dynamic($ios-arrow-down);
$gridcolumn-trigger-icon-color: dynamic($base-color);
$gridcolumn-sort-asc-icon: dynamic($ios-filter-arrow-down);
$gridcolumn-sort-desc-icon: dynamic($ios-filter-arrow-up);
$gridcolumn-menu-columns-icon: dynamic($ios-columns);
$gridcolumn-menu-group-by-this-icon: dynamic($ios-group-by-this);
