$picker-item-color: dynamic($neutral-dark-color);
$picker-item-selected-color: dynamic($color);
$picker-item-selected-font-weight: dynamic(null);
$picker-bar-border-width: dynamic(1px);
$picker-bar-border-style: dynamic(solid);
$picker-bar-border-color: dynamic($neutral-color);
$picker-bar-background-color: dynamic(null);