$pullrefreshbar-min-height: dynamic(42px);
$pullrefreshbar-min-height-big: dynamic(44px);
$pullrefreshbar-background-color: dynamic($neutral-highlight-color);

$pullrefreshbar-arrow-width: dynamic(null);
$pullrefreshbar-arrow-icon: dynamic(null);

$pullrefreshbar-text-margin: dynamic(null);
$pullrefreshbar-spinner-font-size: dynamic(150%);
