$button-small-icon-size: dynamic(24px);
$button-small-font-size: dynamic(15px);
$button-small-line-height: dynamic(20px);
$button-small-padding: dynamic(3px 4px);
$button-small-text-padding: dynamic(6px);
$button-small-arrow-width: dynamic(22px);
$button-small-arrow-height: dynamic(16px);
$button-small-split-width: dynamic(30px);
$button-small-split-height: dynamic(24px);
$button-medium-icon-size: dynamic(24px);
$button-medium-padding: dynamic(6px 4px);
$button-medium-text-padding: dynamic(8px);
$button-medium-arrow-width: dynamic(26px);
$button-medium-arrow-height: dynamic(18px);
$button-medium-split-width: dynamic(36px);
$button-medium-split-height: dynamic(30px);
$button-medium-font-size: dynamic(16px);
$button-medium-line-height: dynamic(22px);
$button-large-padding: dynamic(5px 4px);
$button-large-text-padding: dynamic(10px);
$button-large-arrow-width: dynamic(30px);
$button-large-arrow-height: dynamic(24px);
$button-large-split-width: dynamic(42px);
$button-large-split-height: dynamic(36px);
$button-large-font-size: dynamic(17px);
$button-medium-line-height: dynamic(24px);
