.#{$prefix}checkcolumn {
    .#{$prefix}title-wrap-el {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.#{$prefix}checkbox-align-top .#{$prefix}title-wrap-el {
        flex-direction: column-reverse;
    }

    &.#{$prefix}checkbox-align-right .#{$prefix}title-wrap-el {
        flex-direction: row;
    }

    &.#{$prefix}checkbox-align-left .#{$prefix}title-wrap-el {
        flex-direction: row-reverse;
    }

    &.#{$prefix}checkbox-align-top,
    &.#{$prefix}checkbox-align-bottom {
        .#{$prefix}title-el {
            max-width: 100%;
        }
    }

    .#{$prefix}checkbox-el {
        outline: none;
    }

    &.#{$prefix}no-header-checkbox .#{$prefix}checkbox-el {
        display: none;
    }

    &:not(.#{$prefix}has-text):not(.#{$prefix}sorted) .#{$prefix}title-el {
        // Maintainer: !important needed to override specific margin-top and margin-bottom
        // settings in themes.
        margin: 0!important;
    }
}
