$horizontal-slider-thumb-width: dynamic(28px);
$horizontal-slider-thumb-height: dynamic(28px);
$horizontal-slider-end-cap-width: dynamic(14px);
$vertical-slider-thumb-width: dynamic(28px);
$vertical-slider-thumb-height: dynamic(28px);
$vertical-slider-end-cap-height: dynamic(14px);
