$ext-ux-dashboard-google-rss-font-family: dynamic(helvetica, arial, verdana, sans-serif);

$ext-ux-dashboard-google-rss-title-font-weight: dynamic(bold);

$ext-ux-dashboard-google-rss-author-color: dynamic(#aaa);

$ext-ux-dashboard-google-rss-preview-width: dynamic(16px);
$ext-ux-dashboard-google-rss-preview-height: dynamic(16px);
