$window-background-color: dynamic(#3f4757);
$window-body-background-color: dynamic(#1f2833);
$window-body-color: dynamic(#fff);
$window-body-border-color: dynamic(#18181a);
$window-inner-border-color: dynamic(#414b5c);
$window-header-color: dynamic(#fff);
