.#{$prefix}gridcell {
    display: table-cell;
    vertical-align: middle;
    position: relative;

    &.#{$prefix}dirty {
        &:before {
            line-height: 1;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.#{$prefix}gridcell-body-el {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.#{$prefix}gridcell.#{$prefix}align-center {
    text-align: center;
}

.#{$prefix}gridcell.#{$prefix}align-right {
    text-align: right;
}
