.#{$prefix}treecell {
    > .#{$prefix}inner-el {
        display: flex;
        align-items: center;
    }

    .#{$prefix}indent-el,
    .#{$prefix}expander-el,
    .#{$prefix}icon-el {
        flex: 0 0 auto;
    }

    .#{$prefix}expander-el {
        // Loading status may use a background image.
        background-repeat: no-repeat;
        background-position: 0 center;

        .#{$prefix}expander-last & {
            order: 100;
        }

        .#{$prefix}expander-only & {
            cursor: pointer;
        }
    }

    .#{$prefix}cell-expander & {
        cursor: pointer;
    }

    &.#{$prefix}leaf .#{$prefix}expander-el {
        visibility: hidden;
    }

    // When loading, show a spinner, and hide the icon
    &.#{$prefix}loading .#{$prefix}icon-el {
        background: theme-background-image('tree/loading', 'gif') center no-repeat;
        &:before {
            display: none;
        }
    }
}

.#{$prefix}treecell-body-el {
    white-space: nowrap;
    flex: 1;
}

.#{$prefix}treecell-tool-dock {
    padding: 0 !important;
}
