.#{$prefix}thumb {
    position: absolute;
    left: 0;
    top: 50% !important; // overrides inline style applied by translatable during dragging
    display: flex;
    justify-content: center;
    align-items: center;

    + .#{$prefix}sizer-el {
        width: 0;
    }

    &.#{$prefix}dragging {
        cursor: default;
    }
}