$body-background-color: dynamic(#000);
$base-color: dynamic(#3f4757);
$base-highlight-color: dynamic(mix(#fff, $base-color, 15%));
$base-light-color: dynamic(mix(#fff, $base-color, 65%));
$base-dark-color: dynamic(mix(#000, $base-color, 14%));
$orange: dynamic(#ed9200);
$focus-color: dynamic($orange);
$color: dynamic(#fff);
$font-size: dynamic(15px);
$css-shadow-background-color: dynamic(#000000);
$include-shadow-images: dynamic(false);
