$loadmask-msg-background-color: dynamic(#3f4757);
$loadmask-msg-border-color: dynamic(#222233);
$loadmask-msg-inner-border-color: dynamic(#555566);
$loadmask-msg-inner-background-color: dynamic(#232d38);
$loadmask-msg-inner-color: dynamic(#fff);
$loadmask-msg-inner-padding: dynamic(5px 10px);
$loadmask-msg-inner-icon: dynamic(null);
