$progress-border-color: dynamic(#18181a);
$progress-focus-border-color: dynamic(#fff);
$progress-focus-border-style: dynamic(dashed);
$progress-focus-border-width: dynamic(2px);
$progress-background-color: dynamic(#232d38);
$progress-text-front-color: dynamic(#000);
$progress-text-back-color: dynamic(#fff);
$progress-bar-background-color: dynamic($orange);
