$ios-blue: dynamic(#007aff);
$ios-red: dynamic(#fc3e39);
$ios-green: dynamic(#53d769);

$font-size: dynamic(14px);
$font-size-big: dynamic(16px);
$font-family: dynamic('-apple-system', 'Helvetica Neue', helvetica, arial, sans-serif);
$font-weight-normal: dynamic(400);
$font-weight-bold: dynamic(600);
$font-icon-font-family: 'iOS';

$base-color: dynamic($ios-blue);
$base-highlight-color: dynamic(mix(#fff, $base-color, 30%));
$base-light-color: dynamic(mix(#fff, $base-color, 75%));
$base-dark-color: dynamic(mix(#000, $base-color, 30%));
$neutral-color: dynamic(#dcdcdc);
$neutral-light-color: dynamic(mix(#fff, $neutral-color, 70%)); // #f5f5f5
$neutral-highlight-color: dynamic(mix(#fff, $neutral-color, 50%)); // #eeeeee
$neutral-medium-dark-color: dynamic(mix(#000, $neutral-color, 8%)); // #cacaca
$neutral-dark-color: dynamic(mix(#000, $neutral-color, 15%)); // #bbbbbb

$color: dynamic(#000);
$highlight-color: dynamic(mix(#fff, $color, 57%)); // #919191
$light-color: dynamic(#fff);