$dialog-border-radius: dynamic(5px);
$dialog-border-radius-big: dynamic(7px);
$dialog-header-padding: dynamic(null);
$dialog-header-padding-big: dynamic(null);
$dialog-header-title-padding: dynamic(null);
$dialog-header-title-padding-big: dynamic(null);
$dialog-header-color: dynamic(null);
$dialog-border-color: dynamic($panel-header-background-color);

