$panel-border-color: dynamic($neutral-color);
$panel-body-border-color: dynamic($panel-border-color);
$panel-header-background-color: dynamic($neutral-light-color);
$panel-header-min-height: dynamic(36px);
$panel-header-min-height-big: dynamic(44px);

$panel-header-color: dynamic($color);
$panel-header-font-size: dynamic($font-size);
$panel-header-font-size-big: dynamic($font-size-big);
$panel-header-line-height: dynamic(18px);
$panel-header-line-height-big: dynamic(24px);

$panel-header-padding: dynamic(0 10px);
$panel-header-padding-big: dynamic(0 15px);
$panel-header-title-padding: dynamic(6px 0);
$panel-header-title-padding-big: dynamic(9px 0);

$panel-tool-color: dynamic($base-color);
$panel-tool-focused-outline-color: dynamic($base-color);
$panel-tool-focused-outline-offset: dynamic(2px);

$panel-light-ui: dynamic((
    header-background-color: #fff,
    header-border-color: $panel-border-color
));

