$progress-min-height: dynamic(2px);
$progress-min-height-big: dynamic(2px);
$progress-background-color: dynamic($neutral-highlight-color);
$progress-bar-background-color: dynamic($base-color);
$progress-text-front-color: dynamic($light-color);
$progress-text-back-color: dynamic($color);
$progress-text-line-height: dynamic(20px);
$progress-text-line-height-big: dynamic(24px);
