$toast-color: dynamic(#fff);
$toast-background-color: dynamic(rgba(0,0,0,.6));
$toast-border-width: dynamic(null);
$toast-border-style: dynamic(null);
$toast-border-color: dynamic(null);
$toast-shadow: dynamic(null);

$toast-font-size: dynamic(14px);
$toast-line-height: dynamic(18px);
$toast-padding: dynamic(5px);

$toast-font-size-big: dynamic(16px);
$toast-line-height: dynamic(20px);
$toast-padding-big: dynamic(10px);