$tool-opacity: dynamic(null);
$tool-color: dynamic($base-color);
$tool-hovered-opacity: dynamic(null);
$tool-pressed-opacity: dynamic(null);
$tool-disabled-opacity: dynamic(.5);

$tool-boxscroller-toolbar-ui: dynamic((
    color: $base-color,
    opacity: .5,
    hovered-opacity: .6,
    pressed-opacity: .7
));

$tool-boxscroller-tabbar-ui: dynamic((
    color: $base-color,
    opacity: .5,
    hovered-opacity: .6,
    pressed-opacity: .7
));

//---------------------------------------------------------------
// Tool icons

$tool-close-icon: dynamic($ios-close $font-icon-font-family);
$tool-disclosure-icon: dynamic($ios-arrow-right $font-icon-font-family);

$tool-minimize-icon: dynamic($ios-minus $font-icon-font-family);
$tool-maximize-icon: dynamic($ios-plus $font-icon-font-family);
$tool-restore-icon: dynamic($ios-restore $font-icon-font-family);

$tool-toggle-up-icon: dynamic($ios-up $font-icon-font-family);
$tool-toggle-down-icon: dynamic($ios-down $font-icon-font-family);


$tool-gear-icon: dynamic($ios-gear $font-icon-font-family);
$tool-prev-icon: dynamic($ios-left $font-icon-font-family);
$tool-next-icon: dynamic($ios-right $font-icon-font-family);

$tool-pin-icon: dynamic($ios-pin $font-icon-font-family);
$tool-unpin-icon: dynamic($ios-unpin $font-icon-font-family);

$tool-right-icon: dynamic($ios-arrow-right $font-icon-font-family);
$tool-left-icon: dynamic($ios-arrow-left $font-icon-font-family);
$tool-down-icon: dynamic($ios-arrow-down $font-icon-font-family);
$tool-up-icon: dynamic($ios-arrow-up $font-icon-font-family);

$tool-refresh-icon: dynamic($ios-refresh $font-icon-font-family);

$tool-plus-icon: dynamic($ios-plus $font-icon-font-family);
$tool-minus-icon: dynamic($ios-minus $font-icon-font-family);

$tool-menu-icon: dynamic($ios-menu $font-icon-font-family);

$tool-search-icon: dynamic($ios-search $font-icon-font-family);
$tool-save-icon: dynamic($ios-folder $font-icon-font-family);

$tool-help-icon: dynamic($ios-help $font-icon-font-family);
$tool-print-icon: dynamic($ios-print $font-icon-font-family);

$tool-expand-icon: dynamic($ios-expand $font-icon-font-family);
$tool-collapse-icon: dynamic($ios-collapse $font-icon-font-family);

$tool-expand-bottom-icon: dynamic($ios-arrow-down $font-icon-font-family);
$tool-collapse-bottom-icon: dynamic($ios-arrow-down $font-icon-font-family);

$tool-expand-top-icon: dynamic($ios-arrow-up $font-icon-font-family);
$tool-collapse-top-icon: dynamic($ios-arrow-up $font-icon-font-family);

$tool-expand-left-icon: dynamic($ios-arrow-left $font-icon-font-family);
$tool-collapse-left-icon: dynamic($ios-arrow-left $font-icon-font-family);

$tool-expand-right-icon: dynamic($ios-arrow-right $font-icon-font-family);
$tool-collapse-right-icon: dynamic($ios-arrow-right $font-icon-font-family);

$tool-scroll-up-icon: dynamic($ios-arrow-up $font-icon-font-family);
$tool-scroll-down-icon: dynamic($ios-arrow-down $font-icon-font-family);
$tool-scroll-left-icon: dynamic($ios-arrow-left $font-icon-font-family);
$tool-scroll-right-icon: dynamic($ios-arrow-right $font-icon-font-family);
