$toolbar-title-color: dynamic($color);

$toolbar-title-font-size: dynamic($font-size);
$toolbar-background-color: dynamic($neutral-light-color);
$toolbar-border-color: dynamic($neutral-color);

$toolbar-padding: dynamic(6px 10px);
$toolbar-padding-big: dynamic(6px 15px);
$toolbar-min-height: dynamic(36px);
$toolbar-min-height-big: dynamic(44px);

$toolbar-horizontal-spacing: dynamic(3px);
$toolbar-horizontal-spacing-big: dynamic(6px);

$toolbar-footer-ui: dynamic((
    background-color: $neutral-light-color
));